
<form (change)="onConvert()" [formGroup]="_converterForm" novalidate>
  <div class="converter">
    <div class="input">
      <label for="from-amount">Mengirim</label>
      <mat-form-field class="converter-amount-input">
        <input
          matInput
          formControlName="fromAmount"
          type="text" 
          id="from-amount"
          autocomplete="off">
      </mat-form-field>
    </div>
    <mat-form-field class="currency-select">
      <mat-select
        (selectionChange)="onConvert()"
        formControlName="fromBase"
        name="from-base" 
        id="from-base">
        <mat-option 
          value="IDR">
          IDR
      </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Separator / Loading -->
    <app-loading-bounce [isBouncing]="isLoading"></app-loading-bounce>
  
    <div class="input">
      <label for="from-amount">Perkiraan</label>
      <mat-form-field class="converter-amount-input">
        <input
          matInput
          formControlName="toAmount"
          type="text" 
          id="to-amount">
      </mat-form-field>
    </div>
    <mat-form-field class="currency-select">
      <mat-select
        (selectionChange)="onConvert()"
        formControlName="toBase"
        name="to-base" 
        id="to-base"
        class="currency-select">
        <mat-option 
          *ngFor="let currencyType of currencyTypes" 
          [value]="currencyType.name">
          {{currencyType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="error center">{{errorMessage}}</p>
  <mat-checkbox 
    (mouseenter)="showCombineTooltip()"
    (mouseleave)="hideCombineTooltip()"
    name="combine-fee" 
    id="combine-fee" 
    formControlName="combineFee"
    (change)="onConvert()"
    color="primary">Gabung dengan biaya
    <div *ngIf="combineTooltip" id="combine-tooltip">
      <p>
        Centang kotak ini jika biaya diambil dari uang yang dikirim.
      </p>
    </div>
  </mat-checkbox>

</form>
<app-rates-description [rates]="_ratesService.rates"></app-rates-description>
<button class="primary-button main" (click)="onSend()" id="send-button">Kirim</button>