@import '../../../../vars';

.error {
  color: $dark-warn-text;
  margin: 20px;

  &.center {
    text-align: center;
  }
}

.converter {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  >* {
    margin: 5px;
  }

  .currency-select {
    margin-left: 0;
  }

  app-loading-bounce {
    margin: 15px
  }
}

.currency-select {
  width: 80px;
  margin-left: 5px;
}

#combine-fee {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;

  #combine-tooltip {
    position: absolute;
    background: #0a203f99;
    border-radius: 8px;
    width: 400px;
    max-width: 500px;
    max-height: 200px;
    p {
      color: white;
      word-wrap: break-word;
      text-align: justify;
    }
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  }
}

.primary-button.main {
  margin: 20px auto;
  display: block;
}

.mat-form-field-label-wrapper {
  top: -1.25em;
}

.input {
  // text-align: center;
  margin: 0 2%;
  position: relative;

  label {
    position: absolute;
    top: -21px;
    padding-left: 5px;
    text-align: left;
  }
}

#send-button {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .converter {
    flex-wrap: wrap;
    max-width: 100%;

    app-loading-bounce {
      display: none;
    }
  }

  #combine-tooltip {
    display: none;
  }
}

@media screen and (max-width: 523px) {
  .converter {
    >* {
      margin-top: 24px;
      margin-bottom: 8px;
    }
  }
}