<div class="container">
  <h2 class="title">Masukkan Informasi Transaksi</h2>
  <p id="show-desc-toggle">Kenapa harus diisi?
    <fa-icon (mouseenter)="showDesc()" (mouseleave)="showDesc()" [icon]="faInfo"></fa-icon>
  </p>
  <div class="description" [class.expand]="doShowDescription">
    <p>Untuk membedakan setiap transaksi berdasarkan pada kategori.</p> 
    <p>Tujuan transaksi harus diisi, namun berita transaksi opsional.</p>
    <p>Berita transaksi akan dituliskan pada berita pengiriman ke penerima.</p>
  </div>

  <!-- Transaction Data Form -->
  <form (ngSubmit)="onSubmit()" #dataForm="ngForm" class="trx-form">
    <div class="form-field">
      <label for="name">Tujuan*</label>
      <mat-form-field class="full-width" >
        <mat-select [(ngModel)]="data.purpose" #purpose="ngModel" [(value)]="data.purpose" name="purpose" required>
          <mat-option 
            *ngFor="let transactionPurpose of transactionPurposes" 
            [value]="transactionPurpose.name">
            {{transactionPurpose.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Tujuan transaksi harus diisi
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="payment-details">Berita Transaksi</label>
      <mat-form-field class="full-width">
        <textarea matInput [(ngModel)]="data.paymentDetails" #paymentDetails="ngModel" name="paymentDetails" maxlength="120" id="payment-details" name="payment-details"></textarea>
        <mat-hint align="end">{{data.paymentDetails.length}} / 120</mat-hint>
      </mat-form-field>
    </div>

    <button
      type="submit" 
      class="submit-button center"
      [class.disabled]="data.purpose === ''">
      {{data.purpose ? 'Perbaharui' : 'Tambahkan'}} Informasi
    </button>
  </form>
</div>