.container {
  margin: 20px auto;
  margin-top: 80px;
  margin-bottom: 150px;
  width: 70%;
  max-width: 1000px;
  position: relative;

  &.add-recipient {
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      width: 100%;
      margin: 20px;
    }
  }
}

#add-new-recipient {
  text-align: right;
}

#recipient-detail {
  padding-left: 1%;
}