<div class="container add-recipient">
  <app-recipient-select [disabled]="canAddNewRecipient" (recipientSelect)="onSelectRecipient($event)"></app-recipient-select>

  <mat-checkbox
    name="add-new-recipient" 
    id="add-new-recipient"
    #addRecipient
    (change)="onAbleToAddRecipient(addRecipient)">
    Add Recipient
  </mat-checkbox>
  <div id="recipient-detail">
    <app-recipients-detail *ngIf="!!chosenRecipient && !canAddNewRecipient" [recipient]="chosenRecipient" [deletable]="false" [expanded]="true"></app-recipients-detail>
  </div>
</div>
<app-recipients-new *ngIf="canAddNewRecipient" (addNewRecipient)="onAddNewRecipient($event, addRecipient)"></app-recipients-new>
<div class="container">
</div>