#test-alpha {
  position: absolute;
  bottom: 0;
  z-index: 99;
  background: #7A9ED4ee;
  width: 100%;
  text-align: center;
  padding: 10px;

  p {
    color: #194E96;
  }

  a {
    color: white;
  }
}