<div id="socmed-part">
  <div class="container flex column">
    <div class="socmed-icon">
      <a taget="_blank" href="https://www.facebook.com/mihapetransfer/">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <p>Facebook</p>
      </a>
    </div>
    <div class="socmed-icon">
      <a target="_blank" href="https://www.youtube.com/channel/UCbp7H-z-yJwufgO6Q_BLIKg">
        <fa-icon [icon]="faYoutube"></fa-icon>
        <p>Youtube</p>
      </a>
    </div>
    <div class="socmed-icon">
      <a href="https://www.instagram.com/mihape.transfer/">
        <fa-icon [icon]="faInstagram"></fa-icon>
        <p>Instagram</p>
      </a>
    </div>
    <div class="socmed-icon">
      <a href="mailto:support@mihape.com">
        <fa-icon [icon]="faMail"></fa-icon>
        <p>Email</p>
      </a>
    </div>
  </div>
</div>

<div id="sitemap-part">
  <div class="container">
    <div id="sitemap">
      <ul>
        <li><a routerLink="/about-us">Tentang Kami</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a href="https://blog.mihape.com">Blog</a></li>
        <li><a routerLink="/terms-condition">Syarat dan Ketentuan</a></li>
        <li><a routerLink="/privacy-policy">Kebijakan Privasi</a></li>
        <li><a href="https://blog.mihape.com/career">Karir</a></li>
        <li><a href="https://blog.mihape.com/contact">Kontak</a></li>
      </ul>
    </div>
    <div id="copyright">
      <p>Copyright &#169; {{year}} Mihape Global Nusantara</p>
      <p>All right reserved</p>
    </div>
  </div>
</div>