<div class="container">
    <h2 class="title">Syarat dan Ketentuan</h2>
  
    <p class="description">
      Mihape adalah platform yang menyediakan jasa transfer dari Indonesia ke luar negeri.
    </p>

    <p class="description">
      Berikut ini adalah syarat dan ketentuan yang mengatur kewajiban pengguna layanan dan kebijakan transaksi pada Mihape.
    </p>
  
    <h3 class="subtitle left">Kewajiban Pengguna Layanan</h3>
    <ol class="description ordered-list">
      <li>
        <p class="description">
          Pengguna wajib dinyatakan sebagai seseorang yang cakap di mata hukum sehingga dapat mempertanggungjawabkan segala 
          tindakan yang berkaitan dengan transaksi pada platform Mihape, apabila terjadi kelalaian dan pelanggaran terhadap syarat dan ketentuan yang telah ditetapkan.
        </p>
      </li>
      <li>
        <p class="description">
          Data yang diisikan dalam formulir pendaftaran merupakan data yang benar seperti yang tertera pada kartu identitas yang saat ini masih berlaku.
        </p>
      </li>
      <li>
        <p class="description">
          Tidak memalsukan data yang diisi dalam formulir pendaftaran.
        </p>
      </li>
      <li>
        <p class="description">
          Jika terjadi penyalahgunaan, pengguna bersedia datanya diserahkan kepada pihak yang berwajib.
        </p>
      </li>
    </ol>
  
    <h3 class="subtitle left">Kebijakan Transaksi</h3>
    <ol class="description ordered-list">
      <li>
        <p class="description">
          Pengguna layanan bersedia untuk mengirimkan jumlah nominal yang sesuai dengan jumlah total transfer yang tercantum dalam aplikasi Mihape, tidak kurang maupun lebih.
        </p>
      </li>
      <li>
        <p class="description">
          Transaksi tidak akan diproses apabila jumlah nominal yang dikirim tidak sesuai dengan jumlah yang tertera pada aplikasi.
        </p>
      </li>
      <li>
        <p class="description">
          Untuk pengiriman yang dibatalkan karena kesalahan jumlah nominal maupun alasan lainnya, 
          pengembalian akan dilakukan paling cepat satu hari kerja, terhitung saat konfirmasi pembatalan diterima.
        </p>
      </li>
      <li>
        <p class="description">
          Mihape tidak akan memproses transaksi yang dilakukan apabila pengguna tidak menekan tombol konfirmasi “Saya Sudah Transfer” saat melakukan transaksi.
        </p>
      </li>
      <li>
        <p class="description">
          Transaksi yang dilakukan pada akhir pekan atau hari libur akan langsung dikirim seperti transaksi lainnya, 
          akan tetapi waktu penerimaan tergantung pada ketentuan bank masing-masing.
        </p>
      </li>
      <li>
        <p class="description">
          Transaksi yang sedang dalam proses pengiriman tidak dapat dibatalkan.
        </p>
      </li>
      <li>
        <p class="description">
          Mihape memiliki otoritas penuh untuk menunda maupun membatalkan transaksi, apabila transaksi dianggap mencurigakan.
        </p>
      </li>
      <li>
        <p class="description">
          Mihape tidak bertanggungjawab atas segala penyalahgunaan yang dilakukan oleh pengirim maupun penerima.
        </p>
      </li>
      <li>
        <p class="description">
          Mihape tidak memiliki hubungan kerjasama baik dengan pengirim maupun penerima, 
          sehingga segala transaksi yang berlangsung diantara kedua belah pihak menjadi tanggung jawab masing-masing.
        </p>
      </li>
    </ol>

    <p class="link-center">
      <a class="link" [routerLink]="backRoute">Kembali ke Halaman Utama</a>
    </p>
  </div>