@import '../../../../vars';

.trx-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  // max-width: 800px;
  margin: 30px auto;
  padding: 35px;
  background: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(125,125,125,0.1);
  position: relative;

  &.no-pointer {
    cursor: default;
  }

  &.expandedMore {
    padding-bottom: 60px;
  }

  p {
    line-height: 1.3em;
  }
}

.trx-desc {
  flex-grow: 1;
  .title, h1, h2, h3, h4 {
    line-height: 2em;
  }
}

.trx-edit {
  position: absolute;
  right: 36px;
  bottom: 40px;
}

.trx-del {
  font-size: 20px;
  color: $light-warn-text;
  
  &:hover {
    color: $dark-warn-text;
  }
}

.trx-right {
  text-align: right;
  .title, h1, h2, h3, h4 {
    line-height: 2em;
  }
}

.trx-desc-detail {
  text-align: left;
  line-height: 45px;
  width: 109%;
  margin-top: 20px;

  &.full-width {
    width: 100%;
  }

  th {
    padding-left: 5px;
    width: 50%;
  }

  td {
    // padding-left: 15%;
    width: 50%;
  }
  
  tr:nth-child(odd) {
    background: #f5f5ff;
  }
}

.trx-more {
  margin-top: 20px;
  display: block;
  color: $dark-primary-text;
  font-size: $font-small;
  text-align: right;
  position: absolute;
  right: 40px;
}

#delete-icon{
  transition: font-size 1000ms linear;

  &.deleting {
    font-size: $font-largest;
  }
}


@media screen and (max-width: 800px) {
  .trx-desc-detail {
    th {
      display: none;
    }

    td {
      padding-left: 0;
    }
  }
}