<div class="trx-wrapper" [class.no-pointer]="alwaysShowAll">
  <div (click)="onShowDetail()" class="trx-desc">
    <h3 class="title">{{transaction.name}}</h3>

    <!-- If detail not shown -->
    <div *ngIf="!showDetail && transaction.status" class="trx-desc-short">
      <p>
        {{transaction.statusToString}}.
        <span *ngIf="transaction.status === 'IS_PROCESSED' || transaction.status === 'IS_COMPLETED'">{{transaction.createdAtFromNow}}</span>
        <span *ngIf="transaction.status === 'IS_CANCELED' || transaction.status === 'SENT_BACK'">{{transaction.canceledAtFromNow}}</span>
        <span *ngIf="transaction.status === 'IS_RECEIVED'">{{transaction.receivedAtFromNow}}</span>
        <span *ngIf="transaction.status === 'IS_FAILED'">{{transaction.failedAtFromNow}}</span>
      </p>
    </div>

    <!-- Detail shown -->
    <table class="trx-desc-detail" *ngIf="showDetail" [class.full-width]="!showAmount">
      <tr *ngIf="transaction.id">
        <th>Transaction ID</th>
        <td>{{transaction.id}}</td>
      </tr>
      <tr *ngIf="transaction.id">
        <th>Purpose of Transaction</th>
        <td>{{transaction.name}}</td>
      </tr>
      <tr *ngIf="transaction.description">
        <th>Payment Details</th>
        <td>{{transaction.description}}</td>
      </tr>
      <tr *ngIf="showCreated && transaction.createdAt">
        <th>You created</th>
        <td>{{transaction.createdAtFromNow}}</td>
      </tr>
      <tr *ngIf="transaction.receivedAt">
        <th>You confirmed your transfer</th>
        <td>{{transaction.receivedAtFromNow}}</td>
      </tr>
      <tr *ngIf="transaction.failedAt && transaction.failedAt.length > 0">
        <th>Transaction failed</th>
        <td>{{transaction.failedAtFromNow}}</td>
      </tr>
      <tr *ngIf="transaction.canceledAt">
        <th>You canceled</th>
        <td>{{transaction.canceledAtFromNow}}</td>
      </tr>
      <!-- <tr *ngIf="transaction.completedAt">
        <th>You completed the transaction at</th>
        <td>{{transaction.completed at | date:'H:mm OO, d LLL y'}}</td>
      </tr> -->
      <tr *ngIf="showDeadline && !(transaction.receivedAt || transaction.canceledAt || transaction.failedAt && transaction.failedAt[transaction.failedAt.length - 1])">
        <th>Must be transfered</th>
        <td>{{transaction.deadlineAtFromNow}}</td>
      </tr>
      <tr *ngIf="showRecipient">
        <th>Send to</th>
        <td>{{transaction.recipient.name}} in {{transaction.recipient.country}}</td>
      </tr>
    </table>
    <a *ngIf="showDetail && showMore" [routerLink]="['/transactions', transaction.id]" class="trx-more">
      Show More
    </a>
  </div>
  <div class="trx-right">
    <!-- Amount of money transfered -->
    <h4 *ngIf="showAmount">
      {{transaction.rates.fromCurrency.amount | currency:transaction.rates.fromCurrency.baseString:'symbol-narrow':'1.0-0':'id'}}
    </h4>
  </div>

  <!-- <a *ngIf="deletable && showDetail && transaction.status !== 'IS_CANCELED'" (mousedown)="prepareToDelete()" (mouseup)="cancelDelete()" (mouseleave)="cancelDelete()" class="trx-edit">
    <fa-icon [icon]="faTrash" class="trx-del" id="delete-icon"></fa-icon>
  </a> -->
</div>