<div class="trx-wrapper" [class.no-pointer]="alwaysShowAll">
  <div (click)="onShowDetail()" class="trx-desc">
    <h3 class="title">{{transaction.name}}</h3>

    <!-- If detail not shown -->
    <div *ngIf="!showDetail && transaction.status" class="trx-desc-short">
      <p>
        {{transaction.statusToString}}.
        <span *ngIf="transaction.status === 'IS_PROCESSED' || transaction.status === 'IS_COMPLETED'">{{transaction.createdAtFromNow}}</span>
        <span *ngIf="transaction.status === 'IS_CANCELED' || transaction.status === 'SENT_BACK'">{{transaction.canceledAtFromNow}}</span>
        <span *ngIf="transaction.status === 'IS_RECEIVED'">{{transaction.receivedAtFromNow}}</span>
        <span *ngIf="transaction.status === 'IS_FAILED'">{{transaction.failedAtFromNow}}</span>
      </p>
    </div>

    <!-- Detail shown -->
    <table class="trx-desc-detail" *ngIf="showDetail" [class.full-width]="!showAmount">
      <tr *ngIf="transaction.id">
        <th>ID Transaksi</th>
        <td>{{transaction.id | stringSpacer:4:'&nbsp;&nbsp;'}}</td>
      </tr>
      <tr *ngIf="transaction.id">
        <th>Tujuan Transaksi</th>
        <td>{{transaction.name}}</td>
      </tr>
      <tr *ngIf="transaction.description">
        <th>Detail Pengiriman</th>
        <td>{{transaction.description}}</td>
      </tr>
      <tr *ngIf="showCreated && transaction.createdAt">
        <th>Transaksi Dibuat</th>
        <td>{{transaction.createdAtFromNow}}</td>
      </tr>
      <tr *ngIf="transaction.receivedAt">
        <th>Transfer Kami Terima</th>
        <td>{{transaction.receivedAtFromNow}}</td>
      </tr>
      <tr *ngIf="transaction.failedAt && transaction.failedAt.length > 0">
        <th>Transaksi Gagal</th>
        <td>{{transaction.failedAtFromNow}}</td>
      </tr>
      <tr *ngIf="transaction.canceledAt">
        <th>Transaksi Dibatalkan</th>
        <td>{{transaction.canceledAtFromNow}}</td>
      </tr>
      <!-- <tr *ngIf="transaction.completedAt">
        <th>You completed the transaction at</th>
        <td>{{transaction.completed at | date:'H:mm OO, d LLL y'}}</td>
      </tr> -->
      <tr *ngIf="showDeadline && !(transaction.receivedAt || transaction.canceledAt || transaction.failedAt && transaction.failedAt[transaction.failedAt.length - 1])">
        <th>Harus Ditransfer</th>
        <td>{{transaction.deadlineAtFromNow}}</td>
      </tr>
      <tr *ngIf="showRecipient">
        <th>Penerima</th>
        <td>{{transaction.recipient.name}} in {{transaction.recipient.country}}</td>
      </tr>
    </table>
    <a *ngIf="showDetail && showMore" [routerLink]="['/transactions', transaction.id]" class="trx-more link">
      Selengkapnya
    </a>
  </div>
  <div class="trx-right">
    <!-- Amount of money transfered -->
    <h4 *ngIf="showAmount">
      {{transaction.rates.fromCurrency.amount | currency:transaction.rates.fromCurrency.baseString:'symbol-narrow':'1.0-0'}}
    </h4>
  </div>
</div>