#header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#logo {
  cursor: pointer;

  img {
  height: 50px;
  }
}

.language-select {
  padding: 12px 5px 10px 5px;
  width: 50px;
  text-align: center;
}

.right-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#user {
  margin-left: 30px;
  cursor: pointer;
}