<div id="header">
  <div class="header-container">
    <div class="left-section">
      <a routerLink="/overview">
        <div id="logo">
          <img src="assets/logo/logo.svg" alt="Qintoen logo">
        </div>
      </a>
    </div>
    <div class="right-section">
      <div *ngIf="isUserLoggedIn" id="user">
        <mat-menu id="user-menu" #navMenu="matMenu">
          <ng-template matMenuContent>
            <a routerLink="/overview" mat-menu-item class="menu-item">Overview</a>
            <a routerLink="/transactions" mat-menu-item class="menu-item">Transactions</a>
            <a routerLink="/recipients" mat-menu-item class="menu-item">Recipients</a>
            <a mat-menu-item class="menu-item">Help</a>
            <a mat-menu-item (click)="onLogout()" class="menu-item">Logout</a>
          </ng-template>
        </mat-menu>
        <span id="name">{{ authService.authUser.name }}</span>
        <fa-icon mat-icon-button [matMenuTriggerFor]="navMenu" [icon]="faUser" id="user-icon"></fa-icon>
      </div> 

      <div id="language">
        <mat-select
          class="language-select"
          name="language" 
          id="language-select"
          placeholder="Language"
          value="ID">
          <mat-option value="ID">
            ID
          </mat-option>
          <mat-option value="EN">
            EN
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>