<div id="header">
  <div class="header-container">
    <div class="left-section">
      <a (click)="onNavigateHome()">
        <div id="logo" [class.show]="!isUserLoggedIn">
          <img src="assets/logo/logo.png" alt="Qintoen logo">
        </div>
      </a>
    </div>
    <div class="right-section">
      <div *ngIf="isUserLoggedIn" id="user">
        <mat-menu id="user-menu" #navMenu="matMenu">
          <ng-template matMenuContent>
            <a routerLink="/overview" mat-menu-item class="menu-item">Kilasan</a>
            <a routerLink="/transactions" mat-menu-item class="menu-item">Transaksi</a>
            <a routerLink="/recipients" mat-menu-item class="menu-item">Penerima</a>
            <a mat-menu-item class="menu-item">Bantuan</a>
            <a mat-menu-item (click)="onLogout()" class="menu-item">Keluar</a>
          </ng-template>
        </mat-menu>
        <span id="name">{{ authService.authUser.name }}</span>
        <fa-icon mat-icon-button [matMenuTriggerFor]="navMenu" [icon]="faUser" id="user-icon"></fa-icon>
      </div> 

      <!-- Start Language -->
      <!-- <div id="language">
        <mat-form-field class="language-select">
          <mat-select
            name="language" 
            id="language-select"
            value="ID">
            <mat-option value="ID">
              ID
            </mat-option>
            <mat-option value="EN">
              EN
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- End Language -->
    </div>
  </div>
</div>