@import "../../../vars";

#header {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.3);
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#logo {
  cursor: pointer;

  img {
  height: 50px;
  }
}

.language-select {
  padding: 12px 5px 10px 5px;
  width: 50px;
  text-align: center;
}

.right-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#user {
  margin-right: 30px;
}

#name {
  margin-right: 20px;
}

#user-icon {
  cursor: pointer;
  font-size: 32px;
  color: $dark-primary-text;
  vertical-align: middle;
}

.menu-item {
  line-height: 35px;
  height: 35px;
}

@media screen and (max-width: 1000px) {
  #header {
    background: white;
  }
}