<div id="header">
  <div class="header-container">
    <div class="left-section">
      <a routerLink="/">
        <div id="logo">
          <img src="assets/logo/logo.svg" alt="Qintoen logo">
        </div>
      </a>
    </div>
    <div class="right-section">
      <div id="language">
        <mat-select
          class="language-select"
          name="language" 
          id="language-select"
          placeholder="Language"
          value="ID">
          <mat-option value="ID">
            ID
          </mat-option>
          <mat-option value="EN">
            EN
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="authService.isUserLoggedIn" (click)="onLogout()" id="user">
        Logout
      </div>
    </div>
  </div>
</div>