<div class="container with-bottom-margin">
  <h2 class="title">Reset Password</h2>

  <div class="error" *ngIf="(resetPasswordForm.hasError('passwordNotMatch') && confirmPasswordFormControl.touched) || (passwordFormControl.touched && passwordFormControl.errors)">
    <p *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </p>
    <p *ngIf="passwordFormControl.hasError('minlength')">
      Password must contain at least 8 characters
    </p>
    <p *ngIf="passwordFormControl.hasError('pattern')">
      Password must contain at least 1 upper-, 1 lowercase letter and 1 number 
    </p>
    <p *ngIf="confirmPasswordFormControl.touched && resetPasswordForm.hasError('passwordNotMatch')">
      Password does not match
    </p>
  </div>

  <form *ngIf="!formSubmitted" (submit)="onSubmit()" [formGroup]="resetPasswordForm" class="reset-password-form" novalidate>
    <div class="form-field">
      <label for="new-password">New Password</label>
      <mat-form-field class="full-width">
        <input matInput type="password" id="new-password" name="new-password" #newPassword formControlName="passwordFormControl">
        <fa-icon matSuffix (click)="onShowPassword(newPassword)" id="show-password-icon" [icon]="faEyePassword"></fa-icon>
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="confirm-password">Confirm Password</label>
      <mat-form-field class="full-width">
        <input matInput type="password" id="confirm-password" #confirmPassword name="confirm-password" formControlName="confirmPasswordFormControl">
        <fa-icon matSuffix (click)="onShowConfirmPassword(confirmPassword)" id="show-password-icon" [icon]="faEyeConfirmPassword"></fa-icon>
      </mat-form-field>
    </div>

    <button class="form-field" type="submit" class="submit-button" [disabled]="resetPasswordForm.status === 'INVALID'" [class.disabled]="resetPasswordForm.status === 'INVALID'">Reset Password</button>
  </form>

  <div class="submitted" *ngIf="formSubmitted">
    <p>You successfully changed your password</p>
  </div>
</div>