<div class="container with-bottom-margin">
  <h2 class="title">Ganti Kata Sandi</h2>

  <div class="error" *ngIf="(resetPasswordForm.hasError('passwordNotMatch') && confirmPasswordFormControl.touched) || (passwordFormControl.touched && passwordFormControl.errors)">
    <p *ngIf="passwordFormControl.hasError('required')">
      Kata Sandi harus diisi
    </p>
    <p *ngIf="passwordFormControl.hasError('minlength')">
      Kata Sandi harus minimal 8 karakter
    </p>
    <p *ngIf="passwordFormControl.hasError('pattern')">
      Kata sandi harus terdiri minimal 1 huruf kapital, 1 huruf kecil dan 1 angka
    </p>
    <p *ngIf="confirmPasswordFormControl.touched && resetPasswordForm.hasError('passwordNotMatch')">
      Kata Sandi tidak sama
    </p>
  </div>

  <form *ngIf="!formSubmitted" (submit)="onSubmit()" [formGroup]="resetPasswordForm" class="reset-password-form" novalidate>
    <div class="form-field">
      <label for="new-password">Kata Sandi Baru</label>
      <mat-form-field class="full-width">
        <input matInput type="password" id="new-password" name="new-password" #newPassword formControlName="passwordFormControl">
        <fa-icon matSuffix (click)="onShowPassword(newPassword)" id="show-password-icon" [icon]="faEyePassword"></fa-icon>
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="confirm-password">Konfirmasi Kata Sandi</label>
      <mat-form-field class="full-width">
        <input matInput type="password" id="confirm-password" #confirmPassword name="confirm-password" formControlName="confirmPasswordFormControl">
        <fa-icon matSuffix (click)="onShowConfirmPassword(confirmPassword)" id="show-password-icon" [icon]="faEyeConfirmPassword"></fa-icon>
      </mat-form-field>
    </div>

    <button class="form-field" type="submit" class="submit-button" [disabled]="resetPasswordForm.status === 'INVALID'" [class.disabled]="resetPasswordForm.status === 'INVALID'">Atur Ulang Kata Sandi</button>
  </form>

  <div class="submitted" *ngIf="formSubmitted">
    <p>Kamu telah berhasil mengubah kata sandi.</p>
  </div>
</div>