<div class="container">
  <h2 class="title">Tentang Kami</h2>

  <p class="description">
    Mihape Global Nusantara merupakan startup yang bergerak dalam bidang pelayanan pengiriman uang 
    dari Indonesia ke luar negeri dan berbasis di Bandung, Indonesia. Layanan pengiriman 
    uang yang kami sediakan bisa dilakukan dengan mengakses website <a href="https://www.mihape.com">www.mihape.com</a>, 
    sehingga customer menjadi lebih mudah untuk melakukan transaksi dimanapun dan kapanpun.
  </p>

  <h3 class="subtitle">Sejarah</h3>
  <p class="description">
    Mihape merupakan platform pengiriman uang dari Indonesia ke luar negeri. 
    Tujuan utama kami saat ini adalah Jerman dan negara-negara yang menggunakan Euro sebagai mata uangnya. 
    Platform ini diciptakan karena kami merasa adanya kesulitan untuk mengirim uang dari Indonesia ke Jerman 
    yang disebabkan oleh biaya transfer bank yang sangat mahal (30$ ditambah Rp. 50.000,00). Untuk mensiasati biaya transfer 
    melalui bank yang sangat mahal, biasanya kami meminta supaya uang dikirimkan dalam bentuk rupiah ke dalam rekening Indonesia yang 
    kemudian diambil menggunakan ATM di Bank Jerman, tapi cara ini bisa dikatakan tidak praktis apabila uang yang dikirimkan dalam jumlah besar, 
    karena ada batas maksimum pengambilan setiap harinya sehingga kami harus melakukan penarikan selama beberapa hari. 
    Hal ini dianggap merugikan karena nilai tukar Rupiah terhadap 
    Euro bisa berubah sewaktu-waktu sehingga uang yang kami terima berkurang jumlahnya secara signifikan.
  </p>

  <p class="description">
    Selain itu ATM beberapa bank Indonesia sempat tidak bisa digunakan untuk melakukan transaksi di beberapa negara termasuk Jerman. 
    Ada kalanya mahasiswa yang tidak memiliki ATM bank Indonesia seringkali meminta pertolongan teman untuk menerima uang transferan dari orang tua dalam bentuk Rupiah, 
    akan tetapi sering kali banyak mahasiswa yang tidak bersedia menukar Euro dengan Rupiah dikarenakan fluktuasi nilai tukar Rupiah terhadap Euro yang tidak stabil.
  </p>

  <h3 class="subtitle">Legalitas Mihape</h3>
  <p class="description">
    PT Mihape Global Nusantara adalah perusahaan yang bergerak di bidang Financial Technologi, 
    dengan bidang usaha jasa pengiriman uang luar negeri dan dalam negeri. Seiring dengan usaha tersebut, perusahaan ini 
    mencatatkan akan bergerak juga dibidang yang berkesesuaian dengan jasa yang mengiringinya, antara lain mendukung pengiriman barang dan pariwisata. 
    PT Mihape Global Nusantara mengelola website mihape.com sebagai sarana komunikasi antara perusahaan dan pengguna jasa.
  </p>

  <p class="description">
    Pendirian PT Mihape Global Nusantara telah tercatat pada akte notaris Victory,S.H,M.Kn nomor 04 tahun 2019 pada tanggal 21 Februari 2019, 
    berkedudukan di Cimahi Jawa Barat Indonesia. Perusahaan ini juga sudah mendapat pengesahan dari Menteri Hukum dan Hak Azasi Manusia Republik Indonesia 
    melalui SK Nomor AHU. 0009624.AH.01.01 tahun 2019 tanggal 21 Februari 2019.
  </p>

  <p class="description">
    Untuk operasional, PT Mihape sudah mendapatkan Nomor Induk Berusaha (NIB) : 9120208202159 tanggal 25 Februari 2019
  </p>

  <div class="description">
    <p>
      PT Mihape Global Nusantara
    </p>
    <p>
      Agus Fikri Hadi - Direktur
    </p>  
  </div>

  <p class="link-center">
    <a class="link" [routerLink]="backRoute">Kembali ke Halaman Utama</a>
  </p>
</div>