@import '../../../../vars';

.container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: -50px;
  min-height: 80vh;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.subtitle {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.description {
  margin-bottom: 20px;
  text-align: justify;

  &.team {
    width: 90%;
    margin: 20px auto;
  }

  > mat-card {
    margin: 10px;
  }
}

.mail {
  text-align: right;
  font-size: $font-larger;
}

@media screen and (max-width: 1000px) {
  .team {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .team {
    flex-wrap: wrap;

    > * {
      margin: 20px;
    }
  }
}