<div class="container">
  <h2 class="title">Tentang Kami</h2>

  <p class="description">
    Mihape Global Nusantara merupakan startup yang bergerak dalam bidang pelayanan pengiriman uang dari Indonesia ke luar negeri.
    Kami memiliki basis di Indonesia yang beralamat di Komplek Taman Bumi Prima R. 16, Cibabat, Cimahi. Layanan pengiriman uang yang kami sediakan bisa dilakukan dengan mengakses website www.mihape.com, sehingga customer menjadi lebih mudah untuk melakukan transaksi dimanapun dan kapanpun.
  </p>
</div>