<h2 class="title">Mengapa Pilih Kami?</h2>
<div class="container">
  <app-thumbnails 
    [imageSrc]="'assets/img/babi.svg'" 
    [imageDesc]="'Babi Celeng'"
    [imagePosition]="'right'"
    [title]="'Biaya Transfer Lebih Murah'"
    [body]="'Biaya yang dikenakan untuk setiap transaksi relatif lebih rendah apabila dibandingkan dengan melakukan transfer melalui bank.
    Hal ini menguntungkan bagi kamu yang melakukan transaksi dalam jumlah kecil.
    '"
    [width]="'70%'"
    ></app-thumbnails>
    <app-thumbnails 
    [imageSrc]="'assets/img/hourglass.svg'" 
    [imageDesc]="'Hourglass'"
    [imagePosition]="'left'"
    [title]="'Pengiriman Uang Lebih Cepat'"
    [body]="'Begitu uang kami terima, kami akan secepat mungkin mengirimkan uang tersebut ke rekening tujuan. Maka dari itu, waktu pengiriman hanya bergantung pada ketentuan bank tujuan.'"
    [width]="'70%'"
    ></app-thumbnails>
</div>