<h2 class="title">Why should you use our service?</h2>
<div class="container">
  <app-thumbnails 
    [imageSrc]="'assets/img/babi.svg'" 
    [imageDesc]="'Babi Celeng'"
    [imagePosition]="'right'"
    [title]="'Biaya Transfer Lebih Murah'"
    [body]="'Biaya yang dikenakan untuk setiap transaksi relatif lebih rendah apabila dibandingkan dengan melakukan transfer melalui bank. '"
    [width]="'70%'"
    ></app-thumbnails>
    <app-thumbnails 
    [imageSrc]="'assets/img/hourglass.svg'" 
    [imageDesc]="'Hourglass'"
    [imagePosition]="'left'"
    [title]="'Lebih Cepat'"
    [body]="'This is an example of an image that has description. It can be set according to your needs'"
    [width]="'70%'"
    ></app-thumbnails>
</div>