@import 'src/vars';

.container {
  width: 100%;
}

#jumbotron {
  margin: 20px auto 0 auto;
  background: white;

  img {
    display: block;
    margin: 0 auto;
    height: 400px;
  }
}

.title {
  text-align: center;
  
  h1 {
    line-height: 50px;
  }
  
  p {
    line-height: 25px;
    font-size: $font-large;
    
  }

  #highlight {
    color: $font-button-color;
  }
}

.main {
  background: #fbfafa;
  padding-top: 20px;
  padding-bottom: 20px;
}