<div class="container">
  <mat-accordion multi="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>English version</p>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <h1>Privacy Policy</h1>


        <p>Effective date: December 31, 2018</p>


        <p>Mihape Global Nusantara ("us", "we", or "our") operates the www.mihape.com website, its subdomains and the
          Mihape
          Transfer mobile
          application (the "Service").</p>

        <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when
          you use
          our Service and the choices you have associated with that data. Our Privacy Policy for Mihape Global
          Nusantara is
          based on the <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/">Free Privacy
            Policy
            Template Website</a>.</p>

        <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and
          use of
          information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in
          this
          Privacy Policy have the same meanings as in our Terms and Conditions.</p>


        <h2>Information Collection And Use</h2>

        <p>We collect several different types of information for various purposes to provide and improve our Service to
          you.</p>

        <h3>Types of Data Collected</h3>

        <h4>Personal Data</h4>

        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that
          can be
          used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is
          not
          limited to:</p>

        <ul>
          <li>Email address</li>
          <li>First name and last name</li>
          <li>Phone number</li>
          <li>Address, State, Province, ZIP/Postal code, City</li>
          <li>Cookies and Usage Data</li>
        </ul>

        <h4>Usage Data</h4>

        <p>We may also collect information that your browser sends whenever you visit our Service or when you access
          the
          Service by or through a mobile device ("Usage Data").</p>
        <p>This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address),
          browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the
          time
          spent on those pages, unique device identifiers and other diagnostic data.</p>
        <p>When you access the Service by or through a mobile device, this Usage Data may include information such as
          the
          type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your
          mobile
          operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic
          data.</p>

        <h4>Tracking & Cookies Data</h4>
        <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain
          information.</p>
        <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are
          sent to
          your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and
          scripts to collect and track information and to improve and analyze our Service.</p>
        <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if
          you do
          not accept cookies, you may not be able to use some portions of our Service.</p>
        <p>Examples of Cookies we use:</p>
        <ul>
          <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
          <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various
            settings.</li>
          <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
        </ul>

        <h2>Use of Data</h2>

        <p>Mihape Global Nusantara uses the collected data for various purposes:</p>
        <ul>
          <li>To provide and maintain the Service</li>
          <li>To notify you about changes to our Service</li>
          <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
          <li>To provide customer care and support</li>
          <li>To provide analysis or valuable information so that we can improve the Service</li>
          <li>To monitor the usage of the Service</li>
          <li>To detect, prevent and address technical issues</li>
        </ul>

        <h2>Transfer Of Data</h2>
        <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located
          outside
          of your state, province, country or other governmental jurisdiction where the data protection laws may differ
          than
          those from your jurisdiction.</p>
        <p>If you are located outside Indonesia and choose to provide information to us, please note that we transfer
          the
          data, including Personal Data, to Indonesia and process it there.</p>
        <p>Your consent to this Privacy Policy followed by your submission of such information represents your
          agreement to
          that transfer.</p>
        <p>Mihape Global Nusantara will take all steps reasonably necessary to ensure that your data is treated
          securely and
          in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an
          organization or
          a country unless there are adequate controls in place including the security of your data and other personal
          information.</p>

        <h2>Disclosure Of Data</h2>

        <h3>Legal Requirements</h3>
        <p>Mihape Global Nusantara may disclose your Personal Data in the good faith belief that such action is
          necessary to:</p>
        <ul>
          <li>To comply with a legal obligation</li>
          <li>To protect and defend the rights or property of Mihape Global Nusantara</li>
          <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
          <li>To protect the personal safety of users of the Service or the public</li>
          <li>To protect against legal liability</li>
        </ul>

        <h2>Security Of Data</h2>
        <p>The security of your data is important to us, but remember that no method of transmission over the Internet,
          or
          method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect
          your
          Personal Data, we cannot guarantee its absolute security.</p>

        <h2>Service Providers</h2>
        <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to
          provide
          the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service
          is
          used.</p>
        <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are
          obligated
          not to disclose or use it for any other purpose.</p>

        <h3>Analytics</h3>
        <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
        <ul>
          <li>
            <p><strong>Google Analytics</strong></p>
            <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic.
              Google
              uses the data collected to track and monitor the use of our Service. This data is shared with other
              Google
              services. Google may use the collected data to contextualize and personalize the ads of its own
              advertising
              network.</p>
            <p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web
              page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
          </li>
        </ul>


        <h2>Links To Other Sites</h2>
        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party
          link, you
          will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every
          site you
          visit.</p>
        <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any
          third
          party sites or services.</p>


        <h2>Children's Privacy</h2>
        <p>Our Service does not address anyone under the age of 18 ("Children").</p>
        <p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are
          a
          parent or guardian and you are aware that your Children has provided us with Personal Data, please contact
          us. If
          we become aware that we have collected Personal Data from children without verification of parental consent,
          we
          take steps to remove that information from our servers.</p>


        <h2>Changes To This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new
          Privacy
          Policy on this page.</p>
        <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming
          effective
          and update the "effective date" at the top of this Privacy Policy.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy
          are
          effective when they are posted on this page.</p>


        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
          <li>By email: <a href="mailto:support@mihape.com">support@mihape.com</a></li>
          <li>By visiting this page on our website: <a href="https://www.mihape.com/contact">www.mihape.com/contact</a></li>

        </ul>
      </ng-template>
    </mat-expansion-panel>

    <!-- Deutsch Version -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>Deutsch Version</p>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <h1>Datenschutz-Richtlinie</h1>


        <p>Datum des Inkrafttretens: December 31, 2018</p>


        <p>Mihape Global Nusantara ("wir", "uns", "unser" usw.) betreibt die Website www.mihape.com, alle Subdomain und
          die
          mobile App Mihape
          Transfer (nachstehend als "Dienst" bezeichnet).</p>

        <p>Diese Seite enthält Informationen zu der Art und Weise, auf welche wir personenbezogene Daten erfassen,
          nutzen und
          offenlegen, wenn Sie unseren Dienst nutzen, sowie zu den Optionen, die Ihnen im Zusammenhang mit diesen Daten
          zur
          Verfügung stehen. <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/">Vorlage
            für die
            Datenschutzrichtlinie via FreePrivacyPolicy</a>.</p>

        <p>Wir nutzen Ihre Daten zur Bereitstellung und Verbesserung unseres Dienstes. Durch Inanspruchnahme des
          Dienstes
          erklären Sie sich mit der Erfassung und Nutzung von Daten durch uns nach Maßgabe dieser Richtlinie
          einverstanden.
          Soweit in dieser Datenschutz-Richtlinie nicht jeweils etwas anderes angegeben ist, kommt den in dieser
          Datenschutz-Richtlinie vorkommenden Begriffen jeweils dieselbe Bedeutung zu, die diesen in unseren
          Allgemeinen
          Geschäftsbedingungen (Terms and Conditions) zugewiesen wurde.</p>

        <h2>Begriffsbestimmungen</h2>
        <ul>
          <li>
            <p><strong>Dienst</strong></p>
            <p>Der Dienst ist die von dem Mihape Global Nusantara betriebene Website www.mihape.com und mobile App
              Mihape
              Transfer.</p>
          </li>
          <li>
            <p><strong>Personenbezogene Daten</strong></p>
            <p>Personenbezogene Daten sind Daten, die sich auf eine lebende Person beziehen, welche anhand dieser Daten
              (bzw.
              anhand dieser Daten in Kombination mit weiteren Informationen, die sich bereits in unserem Besitz
              befinden oder
              mit Wahrscheinlichkeit in unseren Besitz gelangen werden) identifizierbar ist.</p>
          </li>
          <li>
            <p><strong>Nutzungsdaten</strong></p>
            <p>Nutzungsdaten sind Daten, die automatisch im Rahmen der Nutzung des Dienstes oder innerhalb der
              Dienstinfrastruktur selbst (beispielsweise für die Dauer eines Seitenbesuchs) erfasst werden.</p>
          </li>
          <li>
            <p><strong>Cookies</strong></p>
            <p>Cookies sind kleine Dateien, die auf Ihrem Gerät (Computer oder mobiles Endgerät) gespeichert werden.</p>
          </li>
        </ul>

        <h2>Erfassung und Nutzung von Daten</h2>
        <p>Wir erfassen verschiedene Arten von Daten für eine Reihe von Zwecken, um den Dienst, den wir Ihnen zur
          Verfügung
          stellen, zu verbessern.</p>

        <h3>Arten der erfassten Daten</h3>

        <h4>Personenbezogene Daten</h4>
        <p>Im Rahmen der Nutzung unseres Dienstes bitten wir Sie gegebenenfalls um die Zurverfügungstellung bestimmter
          persönlich identifizierbarer Daten, die wir dazu nutzen, um Sie zu kontaktieren oder zu identifizieren
          ("personenbezogene Daten"). Persönlich identifizierbare Daten umfassen beispielsweise folgende Daten (sind
          jedoch
          nicht auf diese beschränkt):</p>

        <ul>
          <li>E-Mail-Adresse</li>
          <li>Vorname und Nachname</li>
          <li>Telefonnummer</li>
          <li>Adresse, Staat, Provinz, Postleitzahl, Ort</li>
          <li>Cookies und Nutzungsdaten</li>
        </ul>

        <h4>Nutzungsdaten</h4>

        <p>Wie können außerdem solche Daten erfassen, die Ihr Browser jedes Mal dann versendet, wenn Sie unseren Dienst
          besuchen oder mittels oder anhand eines mobilen Endgeräts auf unseren Dienst zugreifen ("Nutzungsdaten").</p>
        <p>Diese Nutzungsdaten umfassen gegebenenfalls die Internet-Protocol-Adresse (IP-Adresse) Ihres Computers,
          Ihren
          Browsertyp, Ihre Browserversion, die von Ihnen innerhalb unseres Dienstes besuchten Seiten, den Zeitpunkt und
          das
          Datum Ihres Besuchs, die Gesamtverweildauer auf den betreffenden Seiten, individuelle
          Geräteidentifikationsmerkmale
          und weitere Diagnostikdaten.</p>
        <p>Wenn Sie auf unseren Dienst mithilfe eines mobilen Endgeräts zugreifen, umfassen diese Daten gegebenenfalls
          unter
          anderem den Typ des von Ihnen genutzten mobilen Endgeräts, Ihre individuelle Geräteidentifikation, die
          IP-Adresse
          Ihres mobilen Endgeräts, Ihr mobiles Betriebssystem, den Typ des von Ihnen genutzten mobilen
          Internetbrowsers,
          individuelle Geräteidentifikationsmerkmale und weitere Diagnostikdaten.</p>

        <h4>Tracking & Cookies</h4>
        <p>Wir setzen Cookies und ähnliche Tracking-Technologien zur Überwachung der Aktivität innerhalb unseres
          Dienstes ein
          und speichern in diesem Zusammenhang bestimmte Daten.</p>
        <p>Cookies sind Dateien mit einem geringen Datenumfang, wie zum Beispiel anonyme einzigartige Identifikatoren.
          Cookies werden von einer Website an Ihren Browser gesendet und auf Ihrem Gerät gespeichert. Die sonstigen von
          uns
          eingesetzten Tracking-Technologien sind so genannte Beacons, Tags und Scripts und dienen der Erfassung und
          Nachverfolgung von Daten sowie der Verbesserung und Analyse unseres Dienstes.</p>
        <p>Sie können in den Einstellungen Ihres Browsers bestimmen, ob Sie alle Cookies ablehnen oder nur bestimmte
          Cookies
          akzeptieren möchten. Falls Sie jedoch die Annahme von Cookies verweigern, können Sie gegebenenfalls Teile
          unseres
          Dienstes nicht in Anspruch nehmen.</p>
        <p>Beispiele für von uns eingesetzte Cookies:</p>
        <ul>
          <li><strong>Sitzungs-Cookies.</strong> Wir setzen Sitzungs-Cookies für den Betrieb unseres Dienstes ein.</li>
          <li><strong>Präferenz-Cookies.</strong> Wir setzen Präferenz-Cookies ein, um Ihre Präferenzen und
            verschiedenen
            Einstellungen zu speichern.</li>
          <li><strong>Sicherheits-Cookies.</strong> Wir setzen Sicherheits-Cookies für Sicherheitszwecke ein.</li>
        </ul>

        <h2>Datennutzung</h2>
        <p>Wir bei Mihape Global Nusantara nutzen die erfassten Daten für verschiedene Zwecke, beispielsweise um:</p>
        <ul>
          <li>Ihnen unseren Dienst zur Verfügung zu stellen und diesen aufrecht zu erhalten;</li>
          <li>Ihnen Änderungen in Bezug auf unseren Dienst mitzuteilen;</li>
          <li>es Ihnen auf Wunsch zu ermöglichen, an den interaktiven Teilen unseres Dienstes teilzunehmen;</li>
          <li>Kundendienstleistungen zur Verfügung zu stellen;</li>
          <li>Analysedaten und sonstige wertvolle Daten zu erfassen, damit wir unseren Dienst verbessern können;</li>
          <li>die Nutzung unseres Dienstes zu überwachen;</li>
          <li>technische Probleme zu erkennen, zu vermeiden und zu beheben;</li>
        </ul>

        <h2>Übertragung von Daten</h2>
        <p>Ihre Daten, einschließlich personenbezogener Daten, können auf Computer übertragen – und auf solchen
          aufbewahrt –
          werden, die sich außerhalb Ihres Heimatstaates, Ihrer Heimatprovinz, Ihres Heimatlandes oder einer sonstigen
          Rechtsordnung befinden und somit Datenschutzgesetzen unterliegen, die sich von den Datenschutzgesetzen in
          Ihrer
          Rechtsordnung unterscheiden.</p>
        <p>Falls Sie sich außerhalb von Indonesia befinden und sich dazu entscheiden, Daten an uns zu übermitteln,
          müssen Sie
          zur Kenntnis nehmen, dass wir Ihre Daten, einschließlich personenbezogener Daten, nach Indonesia übertragen
          und
          diese dort verarbeiten.</p>
        <p>Ihre Zustimmung zu dieser Datenschutz-Richtlinie und eine nachfolgende Übermittlung von Daten Ihrerseits
          stellt
          eine Einverständniserklärung Ihrerseits zu der genannten Übertragung dar.</p>
        <p>Mihape Global Nusantara wird alle im zumutbaren Rahmen erforderlichen Schritte unternehmen um
          sicherzustellen,
          dass Ihre Daten auf sichere Weise sowie in Übereinstimmung mit dieser Datenschutz-Richtlinie behandelt
          werden, und
          dass Ihre personenbezogenen Daten nicht an Organisationen oder in Länder übertragen werden, hinsichtlich
          welcher
          keine hinreichenden Kontrollmechanismen in Bezug auf die Sicherheit Ihrer Daten und sonstigen
          personenbezogenen
          Informationen vorliegen.</p>

        <h2>Offenlegung von Daten</h2>

        <h3>Gesetzliche Anforderungen</h3>
        <p>Mihape Global Nusantara kann Ihre personenbezogenen Daten unter Umständen offenlegen, wenn es unter
          Beachtung der
          Grundsätze von Treu und Glauben der Ansicht ist, dass dies zur Erreichung der nachfolgenden Zielsetzungen
          erforderlich ist:</p>
        <ul>
          <li>zur Erfüllung einer gesetzlichen Pflicht</li>
          <li>zum Schutz und zur Verteidigung der Rechte oder des Eigentums von Mihape Global Nusantara</li>
          <li>zur Vermeidung oder Untersuchung möglicher Fehlverhaltensweisen in Bezug auf den Dienst </li>
          <li>zum Schutz der persönlichen Sicherheit der Nutzer des Dienstes oder der Öffentlichkeit</li>
          <li>zur Vermeidung von Haftungsansprüchen</li>
        </ul>

        <h2>Datensicherheit</h2>
        <p>Die Sicherheit Ihrer Daten ist uns wichtig. Bitte vergessen Sie jedoch nicht, dass es keine
          Übertragungsmethoden
          über das Internet und keine elektronischen Speichermedien gibt, die 100 % sicher sind. Obwohl wir stets
          bemüht
          sind, kommerziell annehmbare Maßnahmen zum Schutz Ihrer personenbezogenen Daten umzusetzen, können wir eine
          absolute Sicherheit nicht garantieren.</p>

        <h2>Leistungsanbieter</h2>
        <p>Wir beauftragen gegebenenfalls dritte Unternehmen und Einzelpersonen ("Leistungsanbieter") mit
          Unterstützungsleistungen zum einfacheren Angebot unseres Dienstes, mit der Erbringung von Leistungen in
          unserem
          Namen, mit der Erbringung von mit unserem Dienst verbundenen Leistungen oder mit Unterstützungsleistungen zur
          Analyse der Art und Weise, auf die unser Dienst in Anspruch genommen wird.</p>
        <p>Diese Dritten können auf Ihre personenbezogenen Daten nur in dem Umfang Zugriff nehmen, der für die
          Erfüllung der
          genannten Aufgaben in unserem Namen erforderlich ist, und dürfen diese für keine sonstigen Zwecke offenlegen
          oder
          nutzen.</p>

        <h3>Analytik</h3>
        <p>Wir beauftragen gegebenenfalls dritte Leistungsanbieter mit der Überwachung und Analyse der Nutzung unseres
          Dienstes.</p>
        <ul>
          <li>
            <p><strong>Google Analytics</strong></p>
            <p>Google Analytics ist ein von Google angebotener Web-Analytics-Dienst, der Zugriffe auf Websites
              nachverfolgt
              und meldet. Google nutzt die gewonnenen Daten zur Nachverfolgung und Überwachung der Nutzung unseres
              Dienstes.
              Diese Daten werden mit anderen Google-Diensten geteilt. Google kann die gewonnenen Daten zur
              Kontextualisierung
              und Personalisierung der Werbeanzeigen innerhalb seines eigenen Werbenetzwerks nutzen.</p>
            <p>Weitere Informationen zu den Datenschutzmaßnahmen von Google können Sie auf Googles Webseite zu seinen
              Datenschutzbestimmungen (Privacy Terms) einsehen: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
          </li>
        </ul>


        <h2>Links zu anderen Websites</h2>
        <p>Unser Dienst kann Links zu anderen Websites enthalten, die nicht von uns betrieben werden. Wenn Sie auf
          einen
          Drittlink klicken, werden Sie direkt auf die Website des betreffenden Dritten weitergeleitet. Wir empfehlen
          Ihnen
          dringend, sich jeweils die Datenschutz-Richtlinien aller von Ihnen besuchten Websites durchzulesen.</p>
        <p>Wir haben keine Kontrolle über die Inhalte, Datenschutzvorschriften und -praktiken dritter Websites oder
          Dienste
          und übernehmen in diesem Zusammenhang keine Haftung.</p>


        <h2>Privatsphäre Minderjähriger</h2>
        <p>Unser Dienst richtet sich nicht an Personen, die das 18. Lebensjahr noch nicht vollendet haben
          ("minderjährige
          Personen").</p>
        <p>Wir erfassen wissentlich keine persönlich identifizierbaren Daten zu minderjährigen Personen. Falls Sie ein
          Elternteil oder Vormund sind und es Ihnen bekannt wird, dass eine Ihrer Aufsicht unterstehende minderjährige
          Person
          uns personenbezogene Daten übermittelt hat, bitten wir Sie, mit uns Kontakt aufzunehmen. Falls uns bekannt
          wird,
          dass wir personenbezogene Daten einer minderjährigen Person ohne elterliche Zustimmung erfasst haben, setzen
          wir
          Maßnahmen zur Entfernung dieser Daten von unseren Servern um.</p>


        <h2>Änderungen dieser Datenschutz-Richtlinie</h2>
        <p>Wir können unsere Datenschutz-Richtlinie von Zeit zu Zeit aktualisieren. Jegliche solcher Änderungen teilen
          wir
          Ihnen mit, indem wir die aktualisierte Fassung auf dieser Seite veröffentlichen.</p>
        <p>Wir werden Sie vor dem Inkrafttreten der betreffenden Änderung per E-Mail und/oder mittels einer sonstigen
          sichtbaren Mitteilung innerhalb unseres Dienstes informieren und das "Datum des Inkrafttretens" am Beginn
          dieser
          Datenschutz-Richtlinie aktualisieren.</p>
        <p>Wir empfehlen Ihnen, diese Datenschutz-Richtlinie regelmäßig auf Änderungen hin durchzusehen. Änderungen
          dieser
          Datenschutz-Richtlinie werden im Zeitpunkt ihrer Veröffentlichung auf dieser Seite wirksam.</p>


        <h2>Kontaktaufnahme</h2>
        <p>Falls Sie Fragen zu dieser Datenschutz-Richtlinie haben, können Sie wie folgt Kontakt zu uns aufnehmen:</p>
        <ul>
          <li>Per E-Mail: <a href="mailto:support@mihape.com">support@mihape.com</a></li>
          <li>Durch Besuch der folgenden Seite unserer Website: <a href="https://www.mihape.com/contact">www.mihape.com/contact</a></li>

        </ul>
      </ng-template>
    </mat-expansion-panel>
    <!-- End Deutsch Version -->

    <!-- Indonesian Version -->
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <p>Versi Indonesia</p>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <h1>Kebijakan Privasi</h1>


        <p>Tanggal efektif: 31 Desember 2018</p>


        <p>Mihape Global Nusantara ("kami" atau "milik kami") mengoperasikan situs web www.mihape.com dan aplikasi
          seluler
          Mihape Transfer ("Layanan").
        </p>

        <p>Halaman ini memberi tahu Anda tentang kebijakan kami mengenai pengumpulan, penggunaan,
          dan pengungkapan data pribadi saat Anda menggunakan Layanan kami dan pilihan yang telah Anda kaitkan dengan
          data
          itu.
          Kebijakan Privasi kami untuk Mihape Global Nusantara didasarkan pada Situs
          <a href="https://www.freeprivacypolicy.com/blog/sample-privacy-policy-template/">
            Free Privacy Policy Template Website.
          </a>.
        </p>

        <p>Kami menggunakan data Anda untuk menyediakan dan meningkatkan Layanan.
          Dengan menggunakan Layanan, Anda menyetujui pengumpulan dan penggunaan informasi sesuai dengan kebijakan ini.
          Kecuali ditentukan lain dalam Kebijakan Privasi ini, istilah yang digunakan dalam Kebijakan Privasi ini
          memiliki
          arti yang sama seperti dalam Syarat dan Ketentuan kami.
        </p>

        <h2>Pengumpulan Dan Penggunaan Informasi</h2>

        <p>Kami mengumpulkan beberapa jenis informasi yang berbeda untuk berbagai keperluan untuk menyediakan dan
          meningkatkan Layanan kami kepada Anda.</p>

        <h3>Jenis Data yang Dikumpulkan</h3>

        <h4>Data pribadi</h4>

        <p>Saat menggunakan Layanan kami, kami mungkin meminta Anda untuk memberikan kami informasi pengenal pribadi
          tertentu
          yang
          dapat digunakan untuk menghubungi atau mengidentifikasi Anda ("Data Pribadi").
          Informasi yang dapat diidentifikasi secara pribadi dapat mencakup, tetapi tidak terbatas pada:
        </p>

        <ul>
          <li>Alamat email</li>
          <li>Nama depan dan nama belakang</li>
          <li>Nomor telepon</li>
          <li>Alamat, Negara Bagian, Provinsi, ZIP / Kode pos, Kota</li>
          <li>Cookie dan Data Penggunaan</li>
        </ul>

        <h4>Data Penggunaan</h4>

        <p>Kami juga dapat mengumpulkan informasi yang dikirimkan browser
          Anda setiap kali Anda mengunjungi Layanan kami atau ketika Anda mengakses Layanan dengan atau melalui
          perangkat
          seluler ("Data Penggunaan").
        </p>

        <p>Data Penggunaan ini dapat mencakup informasi seperti alamat Protokol Internet komputer Anda (misalkan Alamat
          IP),
          jenis browser, versi browser, halaman Layanan kami yang Anda kunjungi, waktu dan tanggal kunjungan Anda,
          waktu yang dihabiskan untuk halaman-halaman itu, unik pengidentifikasi perangkat dan data diagnostik lainnya.
        </p>

        <p>Ketika Anda mengakses Layanan dengan atau melalui perangkat seluler, Data Penggunaan ini dapat mencakup
          informasi
          seperti
          jenis perangkat seluler yang Anda gunakan, ID unik perangkat seluler Anda,
          alamat IP perangkat seluler Anda, sistem operasi seluler Anda, jenis Browser Internet seluler yang Anda
          gunakan,
          pengidentifikasi perangkat unik, dan data diagnostik lainnya.
        </p>

        <h4>Pelacakan & Data Cookie</h4>
        <p>Kami menggunakan cookie dan teknologi pelacakan serupa untuk melacak aktivitas di Layanan kami dan menyimpan
          informasi tertentu.</p>
        <p>Cookie adalah file dengan sedikit data yang dapat menyertakan pengidentifikasi unik anonim.
          Cookie dikirim ke browser Anda dari situs web dan disimpan di perangkat Anda. Teknologi pelacakan yang juga
          digunakan adalah suar, tag,
          dan skrip untuk mengumpulkan dan melacak informasi dan untuk meningkatkan dan menganalisis Layanan kami.
        </p>

        <p>
          Anda dapat menginstruksikan browser Anda untuk menolak semua cookie atau untuk menunjukkan kapan cookie
          dikirim.
          Namun, jika Anda tidak menerima cookie, Anda mungkin tidak dapat menggunakan sebagian Layanan kami.
        </p>

        <p>Contoh Cookie yang kami gunakan:</p>
        <ul>
          <li><strong>Cookie Sesi.</strong> Kami menggunakan Cookie Sesi untuk mengoperasikan Layanan kami.</li>
          <li><strong>Cookie Pilihan.</strong> Kami menggunakan Cookie Preferensi untuk mengingat preferensi Anda dan
            berbagai pengaturan.</li>
          <li><strong>Cookie Keamanan.</strong> Kami menggunakan Cookie Keamanan untuk tujuan keamanan.</li>
        </ul>

        <h2>Penggunaan Data</h2>

        <p>Mihape Global Nusantara menggunakan data yang dikumpulkan untuk berbagai keperluan:</p>
        <ul>
          <li>Untuk menyediakan dan memelihara Layanan</li>
          <li>Untuk memberitahukan Anda tentang perubahan didalam pelayanan kami</li>
          <li>Untuk memungkinkan Anda berpartisipasi dalam fitur interaktif Layanan kami ketika Anda memilih untuk
            melakukannya</li>
          <li>Untuk memberikan layanan dan dukungan pelanggan</li>
          <li>Untuk memberikan analisis atau informasi berharga sehingga kami dapat meningkatkan Layanan</li>
          <li>Untuk memantau penggunaan Layanan</li>
          <li>Untuk mendeteksi, mencegah dan mengatasi masalah teknis</li>
        </ul>

        <h2>Transfer Data</h2>
        <p>
          Informasi Anda, termasuk Data Pribadi, dapat ditransfer ke - dan dipelihara di - komputer yang berlokasi di
          luar
          negara bagian, provinsi,
          negara atau yurisdiksi pemerintah lainnya di mana undang-undang perlindungan data mungkin berbeda dari yang
          ada di
          yurisdiksi Anda.
        </p>
        <p>
          Jika Anda berada di luar Indonesia dan memilih untuk memberikan informasi kepada kami, harap perhatikan bahwa
          kami
          mentransfer data,
          termasuk Data Pribadi, ke Indonesia dan memprosesnya di sana.
        </p>
        <p>
          Persetujuan Anda terhadap Kebijakan Privasi ini diikuti dengan pengiriman informasi tersebut merupakan
          persetujuan
          Anda untuk transfer tersebut.
        </p>
        <p>
          Mihape Global Nusantara akan mengambil semua langkah yang wajar dan diperlukan untuk memastikan bahwa data
          Anda
          diperlakukan dengan aman dan sesuai dengan
          Kebijakan Privasi ini dan tidak ada transfer Data Pribadi Anda yang akan terjadi pada suatu organisasi atau
          negara
          kecuali ada kontrol yang memadai termasuk keamanan
          data Anda dan informasi pribadi lainnya.
        </p>

        <h2>Keterbukaan Data</h2>

        <h3>Persyaratan resmi</h3>
        <p>Mihape Global Nusantara dapat mengungkapkan Data Pribadi Anda dengan itikad baik bahwa tindakan tersebut
          diperlukan untuk:</p>
        <ul>
          <li>Mematuhi kewajiban hukum</li>
          <li>Melindungi dan mempertahankan hak atau properti Mihape Global Nusantara</li>
          <li>Mencegah atau menyelidiki kesalahan yang mungkin terjadi sehubungan dengan Layanan</li>
          <li>Melindungi keamanan pribadi pengguna Layanan atau publik</li>
          <li>Melindungi terhadap tanggung jawab hukum</li>
        </ul>

        <h2>Keamanan Data</h2>
        <p>
          Keamanan data Anda penting bagi kami, tetapi ingat bahwa tidak ada metode transmisi melalui Internet,
          atau metode penyimpanan elektronik yang 100% aman. Meskipun kami berusaha untuk menggunakan cara yang dapat
          diterima secara
          komersial untuk melindungi Data Pribadi Anda, kami tidak dapat menjamin keamanan mutlaknya.
        </p>

        <h2>Penyedia jasa</h2>
        <p>
          Kami dapat mempekerjakan perusahaan pihak ketiga dan individu untuk memfasilitasi Layanan kami ("Penyedia
          Layanan"), untuk menyediakan Layanan atas nama kami,
          untuk melakukan layanan terkait Layanan atau untuk membantu kami dalam menganalisis bagaimana Layanan kami
          digunakan.
        </p>
        <p>
          Pihak ketiga ini memiliki akses ke Data Pribadi Anda hanya untuk melakukan tugas-tugas ini atas nama kami dan
          berkewajiban
          untuk tidak mengungkapkan atau menggunakannya untuk tujuan lain apa pun.
        </p>

        <h3>Analisis</h3>
        <p>Kami dapat menggunakan Penyedia Layanan pihak ketiga untuk memantau dan menganalisis penggunaan Layanan
          kami.</p>
        <ul>
          <li>
            <p><strong>Google Analytics</strong></p>
            <p>
              Google Analytics adalah layanan analisis web yang ditawarkan oleh Google yang melacak dan melaporkan lalu
              lintas situs web.
              Google menggunakan data yang dikumpulkan untuk melacak dan memantau penggunaan Layanan kami. Data ini
              dibagikan
              dengan layanan Google lainnya.
              Google dapat menggunakan data yang dikumpulkan untuk mengontekstualisasikan dan mempersonalisasikan iklan
              dari
              jaringan iklannya sendiri.
            </p>
            <p>Untuk informasi lebih lanjut tentang praktik privasi Google, silakan kunjungi halaman web Google Privacy
              &
              Terms: <a href="https://policies.google.com/privacy?hl=id">https://policies.google.com/privacy?hl=id</a></p>
          </li>
        </ul>


        <h2>Tautan ke Situs Lain</h2>
        <p>
          Layanan kami dapat berisi tautan ke situs lain yang tidak dioperasikan oleh kami. Jika Anda mengklik tautan
          pihak
          ketiga, Anda akan diarahkan ke situs pihak ketiga itu.
          Kami sangat menyarankan Anda untuk meninjau Kebijakan Privasi setiap situs yang Anda kunjungi.
        </p>
        <p>
          Kami tidak memiliki kendali atas dan tidak bertanggung jawab atas konten, kebijakan privasi, atau praktik
          situs
          atau layanan pihak ketiga mana pun.
        </p>


        <h2>Privasi anak-anak</h2>
        <p>Layanan kami tidak membahas siapa pun di bawah usia 18 ("Anak-anak").</p>
        <p>
          Kami tidak secara sadar mengumpulkan informasi yang dapat diidentifikasi secara pribadi dari siapa pun yang
          berusia
          di bawah 18 tahun.
          Jika Anda adalah orang tua atau wali dan Anda mengetahui bahwa Anak-anak Anda telah memberikan kepada kami
          Data
          Pribadi, silakan hubungi kami.
          Jika kami mengetahui bahwa kami telah mengumpulkan Data Pribadi dari anak-anak tanpa verifikasi izin orang
          tua,
          kami mengambil langkah-langkah
          untuk menghapus informasi itu dari server kami.
        </p>


        <h2>Perubahan Terhadap Kebijakan Privasi Ini</h2>
        <p>
          Kami dapat memperbarui Kebijakan Privasi kami dari waktu ke waktu. Kami akan memberi tahu Anda tentang segala
          perubahan dengan
          memposting Kebijakan Privasi baru di halaman ini.
        </p>
        <p>
          Kami akan memberi tahu Anda melalui email dan / atau pemberitahuan penting pada Layanan kami, sebelum
          perubahan
          menjadi efektif dan memperbarui
          "tanggal efektif" di bagian atas Kebijakan Privasi ini.
        </p>
        <p>
          Anda disarankan untuk meninjau Kebijakan Privasi ini secara berkala untuk setiap perubahan. Perubahan pada
          Kebijakan Privasi ini efektif ketika diposkan pada halaman ini.
        </p>

        <h2>Hubungi kami</h2>
        <p>Jika Anda memiliki pertanyaan tentang Kebijakan Privasi ini, silakan hubungi kami:</p>
        <ul>
          <li>Melalui email: <a href="mailto:support@mihape.com">support@mihape.com</a></li>
          <li>Dengan mengunjungi halaman ini di situs web kami: <a href="https://www.mihape.com/contact">www.mihape.com/contact</a></li>

        </ul>
      </ng-template>
    </mat-expansion-panel>
    <!-- End Indonesian Version -->
  </mat-accordion>

  <p><a [routerLink]="backUrl">Kembali ke Halaman Utama</a></p>
</div>