<div class="container" id="new-recipient">
  <h2 class="title">Tambah Penerima</h2>

  <form (submit)="onSubmit()" [formGroup]="newRecipientForm" class="rec-form" novalidate>
    <div class="form-field">
      <label for="name">Nama*</label>
      <mat-form-field class="full-width">
        <input matInput type="text" id="name" name="name" formControlName="nameFormControl">
        <mat-error>
          Nama harus diisi
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-field">
      <label for="country">Negara*</label>
      <mat-form-field class="full-width">
        <mat-select
          formControlName="countryFormControl"
          name="country" 
          id="country">
          <mat-option 
            *ngFor="let country of countryService.supportedCountries"
            [value]="country.name">
            {{country.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          Negara harus diisi
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <label for="phone-number">Nomor Telepon*</label>
      <mat-form-field class="full-width">
        <span matPrefix>{{callPrefix}} &nbsp;</span>
        <input matInput type="tel" id="phone-number" name="phone-number" formControlName="phoneNumberFormControl">
        <mat-error>
          Nomor telepon harus diisi
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <label for="bank-name">Nama Bank*</label>
      <mat-form-field class="full-width">
        <input type="text" matInput id="bank-name" name="bank-name" formControlName="bankNameFormControl">
        <mat-error>
          Nama bank harus diisi
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <label for="iban">IBAN*</label>
      <mat-form-field class="full-width">
        <input type="text" matInput id="iban" name="iban" formControlName="IBANFormControl">
        <mat-error>
          IBAN harus diisi tanpa spasi maupun karakter istimewa lainnya
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <label for="bic">BIC*</label>
      <mat-form-field class="full-width">
        <input type="text" matInput id="bic" name="bic" formControlName="bicFormControl">
        <mat-error>
          Bank International Code (BIC) harus diisi
        </mat-error>
      </mat-form-field>
    </div>

    <p id="more-info" *ngIf="!moreInfoExpanded"><a (click)="onMoreInfo()"><fa-icon [icon]="faCaret"></fa-icon> Tambahkan Informasi Lainnya</a></p>

    <ng-container *ngIf="moreInfoExpanded">
      <div formGroupName="moreInfoForm" class="more-info">
        <p>Informasi Tambahan</p>
        <div class="form-field">
          <label for="account-number">Nomor Rekening</label>
          <mat-form-field class="full-width">
            <input type="text" matInput id="account-number" name="account-number" formControlName="accountNumberFormControl">
          </mat-form-field>
        </div>
        <div class="form-field">
          <label for="bankCode">Kode Bank</label>
          <mat-form-field class="full-width">
            <input type="text" matInput id="bankCode" name="bankCode" formControlName="bankCodeFormControl">
          </mat-form-field>
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <mat-form-field class="full-width">
            <input type="email" matInput id="email" name="email" formControlName="emailFormControl">
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <div class="submit-cancel">
      <div class="cancel" *ngIf="showBackButton">
        <a (click)="goBack()" class="route-nav back">
          <fa-icon [icon]="faLeft"></fa-icon>
          Kembali
        </a>
      </div>

      <button
        type="submit" 
        class="submit-button" 
        [disabled]="newRecipientForm.status === 'INVALID'" 
        [class.disabled]="newRecipientForm.status === 'INVALID'"
        [class.center]="!showBackButton">
        Simpan Penerima
      </button>
    </div>
  </form>
</div>