<div class="rates-desc card" *ngIf="rates">
  <!-- The last argument in the currency pipe will later be the value of the locale which user uses -->
  <p>
    <span class="name">Mengirim</span>
    <span class="value">{{rates.fromCurrency.amount | currency:rates.fromCurrency.baseString:'symbol-narrow':'1.0-0'}}</span>
  </p>
  <p class="small">
    <span class="hide-small">Perkiraan nilai tukar</span>
    <!-- <span></span> -->
    <span>{{ exchangeRate.amount | currency:rates.total.baseString:'symbol-narrow':'1.2-2'}} / {{ rates.toCurrency.baseString }}</span>
  </p>
  <p>
    <span class="name">Biaya</span>
    <span class="value">{{rates.fee.amount | currency:rates.fee.baseString:'symbol-narrow':'1.0-0'}}</span>
  </p>
  <p>
    <span class="name">Total</span>
    <span class="value">{{rates.total.amount | currency:rates.total.baseString:'symbol-narrow':'1.0-0'}}</span>
  </p>
</div>