@import '../../../../vars';

.rates-desc {
  background: rgba(255, 255, 255, 0.3);
  max-width: 20%;
  padding: 10px 0;
  margin: 0 auto;

  p {
    font-size: $font-large;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    line-height: 60px;
    color: $font-primary-color;

    span {
      width: 40%;
    }

    span:last-child {
      width: auto;
    }

    &.small {
      line-height: 0px;
      margin-bottom: 20px;
      font-size: $font-small;
      font-weight: normal;
      color: darken($color: $light-secondary-text, $amount: 20);
    }
  }
}

.name {
  font-weight: 600;
}

.value {
  text-align: left;
}