@import "../../../../../vars";

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;

  &.shrinked {
    width: 55%;
    padding-bottom: 40px;
  }
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.overview-data {
  width: 100%;
  // padding: 20px;
  // margin: 20px;
  // margin-top: 40px;
}

.overview-title {
  margin-top: 80px;
}

.overview-footer {
  button, #submit {
    margin: 0 auto;
    display: block;
  }
}

.overview-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.bank-account-link {
  color: $dark-primary-text;

  a {
    color: inherit;
  }
}

.transaction-action {
  display: flex;
  align-items: center;

  > * {
    margin-left: 20px;
  }
}

#cancel-transaction {
  color: $dark-warn-text;
  cursor: pointer;
}

#no-delete, #yes-delete {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

#no-delete {
  color: $dark-warn-text;

  &:hover {
    font-size: 24px;
    color: darken($color: $dark-warn-text, $amount: 5);
  }
}

#yes-delete {
  color: green;

  &:hover {
    font-size: 24px;
    color: darken($color: green, $amount: 5);
  }
}