@import "../../../../../vars";

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.overview-data {
  width: 100%;
  // padding: 20px;
  // margin: 20px;
  // margin-top: 40px;
}

.overview-title {
  margin-top: 80px;
}