@import '../../../../vars';

.forgot-password {
  padding-top: 70px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  min-height: 50vh;

  > h1 {
    margin: 25px auto 40px auto;
  }

  > p {
    margin: 10px auto;
  }

  .notification {
    margin-bottom: 20px;

    &.error {
      color: $light-warn-text;
    }
  }
}

.signin-signup {
  margin: 40px auto;
  
  > button, > .button {
    width: 20%;
    margin: 0 10px;
  }
}

.forgot-password-form {
  margin: 50px auto;
  display: block;

  > mat-form-field {
    width: 60%;
  }

  > * {
    margin: 0 5px;
  }
}