<div class="container">
  <div class="forgot-password">
    <h1 *ngIf="!emailSent">Buat Kata Sandi Baru</h1>
    <h1 *ngIf="emailSent">Periksa Email Kamu</h1>
    <p *ngIf="!emailSent">Kami tahu kalau tidak semua orang dapat mengingat semua kata sandi. Kita pun begitu.</p>
    <p *ngIf="!emailSent">Jadi kami mempermudah kamu untuk membuat kata sandi yang baru</p>
    <p *ngIf="!emailSent">Tuliskan alamat email kamu disini lalu kami akan mengirimkan instruksi untuk membuat kata sandi yang baru.</p>
    
    <form *ngIf="!emailSent" (ngSubmit)="onSendForgotPassword()" #emailForm="ngForm" class="forgot-password-form">
      <mat-form-field>
        <input placeholder="Your email" type="email" matInput required #emailInput="ngModel" name="email" [(ngModel)]="email">
        <mat-error>
          Email harus diisi
        </mat-error>
      </mat-form-field>
      <button [disabled]="!emailForm.form.valid" type="submit">Kirim Konfirmasi</button>
    </form>

    <p class="notification" *ngIf="emailSent">Kami mengirimkan instruksi ke alamat emailmu.</p>
    <p class="notification error" *ngIf="error.isError" [ngSwitch]="error.status">
      <!-- For better internationalization -->
      <span *ngSwitchCase="404">Pengguna tidak terdaftar</span>
      <span *ngSwitchCase="500">Kesalahan pada server</span>
      <span *ngSwitchDefault>Terjadi kesalahan sehingga email tidak terkirim</span>
    </p>

    <p>Jika kamu tidak ingin membuat kata sandi baru,</p>
    <p>pilih daftar atau masuk akun untuk menggunakan layanan kami.</p>

    <div class="signin-signup">
      <button (click)="onSignUp()">Daftar</button>
      <button (click)="onSignIn()">Masuk Akun</button>
    </div>

    <a routerLink="/" class="link">Kembali ke Halaman Utama</a>
  </div>
</div>