.main-container {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  width: 100%;
  overflow: auto;

  > * {
    width: 100%;
  }
}

#router {
  padding-top: 20px;
}

.curtain {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-header {
  width: 100%;
}