<div class="main-container">
  <app-sidebar></app-sidebar>
  <div id="main-content">
    <app-header></app-header>
    <div id="router">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
  <app-signin *ngIf="dialogService.showSignin"></app-signin>
  <app-signup *ngIf="dialogService.showSignup"></app-signup>
</div>
<div *ngIf="dialogService.showCurtain" class="curtain">
  <app-loading-circle *ngIf="dialogService.isLoading"></app-loading-circle>
</div>
<app-connection-error *ngIf="dialogService.hasConnectionError"></app-connection-error>
<app-alpha-test></app-alpha-test>
<app-dialog *ngIf="dialogService.dialogMessage.show"></app-dialog>
