.confirmation-received {
  padding-top: 70px;
  text-align: center;
  width: 40%;
  margin: 0 auto;

  h1 {
    margin: 25px auto 40px auto;
  }

  p {
    margin: 10px auto;
    line-height: 25px;
  }

  .notification {
    margin-bottom: 20px;
  }
}