<div class="container">
  <div class="confirmation-received">
    <span *ngIf="status === 'PENDING'">
      <h1>Email sedang dikonfirmasi...</h1>
      <p>Harap menunggu selama proses konfirmasi</p>
    </span>
    <span *ngIf="status === 'CONFIRMED'">
      <h1>Email telah dikonfirmasi</h1>
      <p>Email telah berhasil dikonfirmasi. <a routerLink="/" (click)="onSignin()">Masuk akun</a> untuk melanjutkan</p>
    </span>
    <span *ngIf="status === 'NOT_FOUND'">
      <h1>Tautan Tidak Tersedia</h1>
      <p>Sepertinya emailmu telah dikonfirmasi, karena kami tidak menemukannya di server kami.</p> 
      <p>Yang sekarang tinggal kamu lakukan adalah <a routerLink="/" (click)="onSignin()">masuk akun</a> atau <a routerLink="/" (click)="onSignup()">daftar</a> 
        jika kamu tidak memiliki akun.
      </p>
    </span>
    <span *ngIf="status === 'ERROR_CLIENT'">
      <h1>Tidak Ada Yang Perlu Dilakukan Disini</h1>
      <p>Daripada memasukkan tautan secara acak, klik tautan yang telah kami kirim ke email kamu.</p>
    </span>
    <span *ngIf="status === 'ERROR_SERVER'">
      <h1>Tautan Tidak Tersedia</h1>
      <p>Tautan yang kamu masukkan salah atau kadaluwarsa. Klik <a routerLink="/email-confirm">disini</a> untuk mendapatkan tautan konfirmasi.</p>
    </span>
  </div>
</div>