<div class="container">
  <div
    *ngIf="showUndeletableRecipient"
    class="message error">
    Penerima tidak bisa dihapus karena ada dalam daftar transaksi
  </div>
  <div
    *ngIf="showMaxLimit"
    class="message error">
    Jumlah transaksi yang dimasukkan melebihi batas yang telah ditentukan
  </div>
  <div
    *ngIf="showMinLimit"
    class="message error">
    Jumlah transaksi yang dimasukkan kurang dari batas yang telah ditentukan
  </div>
  <div
    *ngIf="tokenExpired"
    class="message error">
    Tautan kadaluwarsa
  </div>
</div>