<div class="container">
  <h2 class="title" #faq>Frequently Asked Question (FAQ)</h2>
  <p class="description">
    Berikut ini merupakan beberapa kategori berisi pertanyaan
    yang sering diajukan.
  </p>
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>Informasi Umum</p>
      </mat-expansion-panel-header>
  
      <ng-template matExpansionPanelContent>
        <ol class="question-list">
          <li>
            <h5>Apa itu Mihape?</h5>
            <p>Mihape berasal dari bahasa Sunda yang memiliki arti menitipkan. 
              Atas dasar itu, platform ini dibuat bagi mereka yang ingin mentitipkan uangnya dalam bentuk Rupiah untuk ditransfer dari Indonesia ke luar negeri.
            </p>
          </li>
          <li>
            <h5>Apa keunggulan Mihape?</h5>
            <p>
              Nilai tukar bersaing yang selalu diperbaharui secara berkala setiap harinya, serta biaya transaksi yang relatif murah bila dibandingkan dengan transfer melalui bank. 
              Hal ini bertujuan untuk mempermudah kalian yang akan melakukan transaksi dengan jumlah yang kecil.
            </p>
          </li>
        </ol>
      </ng-template>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <p>Keamanan</p>
      </mat-expansion-panel-header>
  
      <ng-template matExpansionPanelContent>
        <ol class="question-list">
          <li>
            <h5>Apakah Mihape aman digunakan?</h5>
            <p>
              Team Developer Mihape mengembangkan aplikasi ini dengan rancangan seaman mungkin. 
              Namun saat ini Mihape masih berada dalam fase “Alpha”, yang artinya Mihape masih berada dalam tahap user testing dan pengembangan. 
              Jadi, jika kalian menemukan adanya error, silakan hubungi kami di <a href="mailto:support@mihape.com">support@mihape.com</a> agar kami dapat memperbaiki layanan kami secepat mungkin.
            </p>
          </li>
        </ol>
      </ng-template>
  
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>Cara Kerja</p>
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
          <ol class="question-list">
            <li>
              <h5>Bagaimana cara kerja Mihape?</h5>
              <p>
                  Kami bekerja menggunakan konsep peer to peer, dimana user yang berada di Indonesia mengirimkan uangnya ke rekening kami 
                  yang juga berada di salah satu bank yang ada di Indonesia. Uang tersebut akan kami konversi berdasarkan nilai tukar terkini 
                  saat proses transfer dilakukan. Lalu kami akan meneruskan transaksi tersebut dan mengirimkannya ke rekening tujuan yang berada di luar negeri. 
                  Sehingga uang yang dikirim akan diterima oleh penerima dalam waktu 1 – 2 hari tergantung pada ketentuan bank masing-masing.
              </p>
            </li>
          </ol>
        </ng-template>
    
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>Nilai Tukar</p>
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
          <ol class="question-list">
            <li>
              <h5>Bagaimana cara kerja Mihape?</h5>
              <p>
                Kami mengambil nilai tukar dari beberapa sumber yang terpercaya lalu diambil rata-rata nilai tukar tersebut untuk mengatasi perbedaan kurs.
              </p>
            </li>
          </ol>
        </ng-template>
    
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>Transaksi</p>
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
          <ol class="question-list">
            <li>
              <h5>Bagaimana penentuan biaya transfer?</h5>
              <p>
                Untuk setiap transaksi yang dilakukan kami mengambil biaya transfer sebesar 2€ + 10% dari jumlah uang yang dikirim.
              </p>
            </li>
            <li>
              <h5>Berapa jumlah maksimum transaksi?</h5>
              <p>
                Karena kami sedang dalam masa „Alpha“ maka kami membatasi setiap transaksi maksimal Rp. 5.000.000,00.
              </p>
            </li>
            <li>
              <h5>Apakah pengirim harus memiliki rekening di salah satu bank di Indonesia?</h5>
              <p>
                Tidak, pengirim tetap bisa melakukan transaksi walau tidak memiliki rekening di salah satu bank di Indonesia. 
                Pengirim bisa melakukan transfer langsung melalui teller, hanya saja tetap harus melakukan proses registrasi di situs Mihape terlebih dahulu.
              </p>
            </li>
            <li>
              <h5>Apakah transaksi hanya bisa dilakukan dari Indonesia ke Jerman saja?</h5>
              <p>
                Saat ini transaksi hanya dapat dilakukan dari Indonesia ke beberapa negara di Eropa 
                yang menggunakan mata uang Euro seperti Austria, Belgia, Ciprus, Belanda, Estonia, Finlandia, 
                Prancis, Jerman, Yunani, Irlandia, Italia, Latvia, Lituania, Luxemburg, Malta, Monaco, Portugal, San Marino, Slowakia, 
                Slowenia, Spanyol dan Vatikan.
              </p>
            </li>
            <li>
              <h5>Darimana pengirim tahu kalau transaksi sudah berhasil dilakukan?</h5>
              <p>
                Kalian akan mendapatkan email notifikasi apabila uang telah berhasil dikirim.
              </p>
            </li>
            <li>
              <h5>Apakah ada jumlah minimal transfer?</h5>
              <p>
                Kalian bisa melakukan transaksi dengan nominal terkecil Rp. 100.000,00.
              </p>
            </li>
            <li>
              <h5>Bagaimana apabila pengirim lupa mencantumkan ID Transaksi saat melakukan pengiriman?</h5>
              <p>
                Silakan kirim data lengkap pengiriman (nama pengirim, nama penerima, nomor rekening tujuan dan ID Transaksi) ke email 
                <a href="mailto:support@mihape.com">support@mihape.com</a>.
              </p>
            </li>
          </ol>
        </ng-template>
    
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>Pembatalan Transaksi</p>
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
          <ol class="question-list">
            <li>
              <h5>Apakah transaksi yang sudah dibuat bisa dibatalkan?</h5>
              <p>
                Bisa.
              </p>
            </li>
            <li>
              <h5>Apakah uang yang sudah dikirim bisa dikembalikan apabila transaksi dibatalkan?</h5>
              <p>
                Bisa, apabila Mihape belum melakukan pengiriman ke rekening tujuan.
                Tidak bisa, jika transaksi ke rekening tujuan telah berhasil dilaksanakan.
              </p>
            </li>
            <li>
              <h5>Berapa uang yang akan diterima oleh pengirim apabila transaksi dibatalkan?</h5>
              <p>
                Uang akan dikembalikan sesuai dengan nominal transaksi akan tetapi tidak ada pengembalian biaya transfer.
              </p>
            </li>
            <li>
              <h5>Bagaimana cara proses pengembalian uang apabila transaksi dibatalkan, tetapi pengirim tidak memiliki rekening di salah satu bank di Indonesia?</h5>
              <p>
                Silakan hubungi Mihape di <a href="mailto:support@mihape.com">support@mihape.com</a> untuk memberitahukan detail pengembalian.
              </p>
            </li>
          </ol>
        </ng-template>
    
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>Informasi Pengguna</p>
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
          <ol class="question-list">
            <li>
              <h5>Bagaimana cara registrasi?</h5>
              <p>
                Kalian cukup mendaftarkan diri dengan alamat email yang masih berlaku. 
                Setelah itu kalian akan mendapatkan email verifikasi agar bisa login dan melakukan transaksi.
              </p>
            </li>
            <li>
              <h5>Apakah diperlukan biaya untuk registrasi?</h5>
              <p>
                Tidak, pendaftarannya dilakukan secara gratis.
              </p>
            </li>
          </ol>
        </ng-template>
    
      </mat-expansion-panel>
  
  </mat-accordion>

  <p class="link-center">
    <a class="link" [routerLink]="backRoute">Kembali ke Halaman Utama</a>
  </p>
</div>