<div class="rec-wrapper" [class.no-pointer]="alwaysShowAll">
  <div class="rec-right">
    <!-- Temporary -->
    <h4>{{recipient.bankAccount.country}}</h4>
    
  </div>
  <div (click)="onShowDetail()" class="rec-desc">
    <h3 class="title">{{recipient.name}}</h3>
    <!-- If detail not shown -->
    <div *ngIf="!showDetail" class="rec-desc-short">
      <p>{{recipient.bankAccount.name}}</p>
    </div>

    <!-- Detail shown -->
    <table class="rec-desc-detail" *ngIf="showDetail">
      <tr>
        <th>Nama Bank</th>
        <td>{{recipient.bankAccount.name}}</td>
      </tr>
      <tr *ngIf="recipient.bankAccount.accountNumber">
        <th>Nomor Rekening</th>
        <td>{{recipient.bankAccount.accountNumber}}</td>
      </tr>
      <tr *ngIf="recipient.bankAccount.bankCode">
        <th>Kode Bank</th>
        <td>{{recipient.bankAccount.bic}}</td>
      </tr>
      <tr>
        <th>IBAN</th>
        <td>{{recipient.bankAccount.IBAN | stringSpacer:4:'&nbsp;&nbsp;'}}</td>
      </tr>
      <tr>
        <th>BIC</th>
        <td>{{recipient.bankAccount.bic}}</td>
      </tr>
      <tr>
        <th>Nomor Telepon</th>
        <td>{{recipient.phoneNumber}}</td>
      </tr>
      <tr *ngIf="recipient.bankAccount.email">
        <th>Email</th>
        <td>{{recipient.bankAccount.email}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="showDetail && deletable" class="rec-edit" (mouseleave)="onMouseLeavingDelete()">
    <fa-icon *ngIf="!hasConfirmation" [icon]="faTrash" id="delete-icon" class="rec-del" (click)="prepareToDelete()"></fa-icon>
    <fa-icon *ngIf="hasConfirmation" [icon]="faTimes" class="rec-del" id="cancel-icon" (click)="cancelDelete()"></fa-icon>
    <fa-icon *ngIf="hasConfirmation" [icon]="faCheck" class="rec-del" id="check-icon" (click)="onDelete()"></fa-icon>
  </div>
</div>