<div class="container">
  <div class="email-confirm">
    <h1>Konfirmasi Email Kamu</h1>
    <p>Untuk bisa menggunakan layanan kami, kamu harus melakukan konfirmasi email supaya kami tahu bahwa itu benar-benar kamu.</p>
    <p>Jika kamu telah menerima email konfirmasi dari kami, kamu hanya perlu klik tombol tautan yang ada.</p>
    
    <form *ngIf="!emailSent" (ngSubmit)="onSendConfirmation()" #emailForm="ngForm" class="email-form">
      <mat-form-field>
        <input placeholder="Email Kamu" type="email" matInput required #emailInput="ngModel" name="email" [(ngModel)]="email">
        <mat-error>
          Email harus diisi
        </mat-error>
      </mat-form-field>
      <button [disabled]="!emailForm.form.valid" type="submit">Kirim Konfirmasi</button>
    </form>

    <p class="notification" *ngIf="emailSent">Email konfirmasi telah dikirim. Apabila email tidak kunjung datang, harap perbaharui browser kamu dan tunggu maksimal 30 menit sebelum kamu meminta ulang email konfirmasi</p>
    <p class="notification error" *ngIf="error.isError" [ngSwitch]="error.status">
      <!-- For better internationalization -->
      <span *ngSwitchCase="400">Email telah dikonfirmasi</span>
      <span *ngSwitchCase="404">Email tidak terdaftar</span>
      <span *ngSwitchCase="500">Kesalahan pada server</span>
      <span *ngSwitchDefault>Telah terjadi kesalahan sehingga email tidak terkirim</span>
    </p>

    <p>Jika kamu telah dikonfirmasi atau belum memiliki akun Mihape,</p>
    <p>pilih daftar atau masuk akun untuk menggunakan layanan kami.</p>

    <div class="signin-signup">
      <button (click)="onSignUp()">Daftar</button>
      <button (click)="onSignIn()">Masuk Akun</button>
    </div>

    <a routerLink="/">Kembali ke Halaman Utama</a>
  </div>
</div>