<div class="container">
  <!-- <h2 class="title">Kemana saya harus transfer?</h2> -->
  <h2 class="title">Kemana Saya Harus Transfer Uangnya?</h2>
  
  <!-- <p class="description">
    Setiap transaksi yang anda buat, anda akan mendapatkan ID transaksi. 
    <span *ngIf="transaction">
      ID transaksi anda adalah <span id="trx-id">{{transaction.id}}</span>.
    </span>
    Saat anda membuat transfer di Bank anda, jangan lupa cantumkan ID transaksi ini.
    Ini sangatlah penting untuk anda lakukan, karena jika tidak, kami tidak dapat meneruskan transferan anda.
  </p> -->

  <p class="description">
    Untuk setiap transaksi, akan dibuat satu ID secara otomatis.
    <span *ngIf="transaction">
      ID Transaksi kamu adalah <h3 class="highlight" id="trx-id">{{transaction.id | stringSpacer:4:'&nbsp;&nbsp;'}}</h3>
    </span>
    Saat kamu melakukan transfer uang ke Bank kami, jangan lupa cantumkan ID Transaksi yang kamu terima.
    Jika tidak, transaksi tidak akan dilanjutkan.
  </p>

  <p class="description">
    Di bawah ini merupakan daftar bank yang kami gunakan:
  </p>

  <div class="mihape-bank">
    <div class="logo-bank">
      <img src="assets/img/bank-bca.png" alt="Logo of Bank Central Asia">
    </div>
    <div class="bank-details">
      <h4>Bank Central Asia (BCA)</h4>
      <p>Muhammad Rizki Fikriansyah</p>
      <p>No. Rekening {{'1390352588' | stringSpacer:3}}</p>
    </div>
  </div>

  <div class="mihape-bank">
    <div class="bank-details">
      <h4>Bank Mandiri</h4>
      <p>Agus Fikri Hadi</p>
      <p>No. {{'1310000061616' | stringSpacer:3}}</p>
    </div>
    <div class="logo-bank">
      <img src="assets/img/bank-mandiri.png" alt="Logo of Bank Mandiri">
    </div>
  </div>

  <p class="description">
    Pastikan uang yang kamu kirim sesuai dengan jumlah yang tercantum dalam setap transaksi. 
    Pengembalian hanya akan dilakukan apabila transaksi dibatalkan<span class="small warning">*</span>. 
    <span *ngIf="transaction">
      Jumlah uang yang harus kamu transfer untuk transaksi saat ini sebesar
      <h3 class="highlight">{{transaction.rates.total.amount | currency:transaction.rates.fromCurrency.baseString:'symbol-narrow':'1.0-0'}}</h3>
    </span>
  </p>

  <p class="description">
    Apabila uang yang dikirim kepada kami kurang dari jumlah yang telah ditentukan, maka kamu masih bisa menambah kekurangannya sebelum
    <span *ngIf="transaction; else deadline">
      {{transaction.deadlineAt | date:'H:mm OO, d LLL y'}}
    </span>
    <ng-template #deadline>
      masa transaksi kadaluwarsa
    </ng-template>
    atau transaksi akan dibatalkan secara otomatis dan uang akan dikembalikan setelah dipotong biaya transaksi<span class="small warning">**</span>.
  </p>

  <p class="description">
    Apabila uang yang kami terima lebih dari jumlah yang seharusnya, silakan hubungi <a href="mailto:support@mihape.com">tim support kami</a> untuk mendapatkan uangmu kembali.
  </p>

  <p class="small point margin-top"><span class="small warning">*</span> Lihat <a routerLink="/faq">FAQ</a> untuk melihat syarat dan cara membatalkan transaksi</p>
  <p class="small point"><span class="warning">**</span> Sisa transfer akan muncul pada kolom <strong>nilai tukar</strong> di detail transaksi dan tombol <strong>Saya Sudah Transfer</strong> akan kembali aktif</p>
  
  <div class="back">
    <a (click)="goBack()" class="route-nav back">
      <fa-icon [icon]="faLeft"></fa-icon>
      Kembali
    </a>
  </div>
</div>