<div class="curtain">
  <div class="container">
    <!-- Close Icon here -->
    <fa-icon (click)="onClose()" [icon]="faTimes" class="close"></fa-icon>
  
    <h2 class="title">Buat Akun Baru</h2>
  
    <form (submit)="onSubmit()" [formGroup]="signupForm" class="signup-form" novalidate>
      <!-- First Name & Last Name -->
      <div class="form-field">
        <div class="input full-width">
          <label for="first-name">Nama Depan</label>
          <mat-form-field>
            <input matInput type="text" id="first-name" name="first-name" formControlName="firstNameControlForm">
            <mat-error>
              Nama depan harus diisi
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="input full-width">
          <label for="last-name">Nama Belakang</label>
          <mat-form-field>
            <input matInput type="text" id="last-name" name="last-name" formControlName="lastNameControlForm">
            <mat-error>
              Nama belakang harus diisi
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Date of Birth -->
      <div class="form-field">
        <div class="input half-width">
          <label for="date-of-birth">Tanggal Lahir</label>
          <mat-form-field>
            <input matInput type="date" id="date-of-birth" name="date-of-birth" formControlName="dateOfBirthControlForm">
            <mat-error *ngIf="dateOfBirthControlForm.hasError('required')">
              Tanggal lahir harus diisi
            </mat-error>
            <mat-error *ngIf="dateOfBirthControlForm.hasError('isOldEnough')">
              Kamu harus berusia minimal 18 tahun
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Email & Password -->
      <div class="form-field">
        <div class="input full-width">
          <!-- Email -->
          <label for="email">Email</label>
          <mat-form-field>
            <input matInput type="email" id="email" name="email" formControlName="emailControlForm">
            <mat-error *ngIf="emailControlForm.hasError('required')">
              Email harus diisi
            </mat-error>
            <mat-error *ngIf="emailControlForm.hasError('email')">
              Email yang dimasukan salah
            </mat-error>
            <mat-error *ngIf="emailControlForm.hasError('isNotAvailable')">
              Email sudah terdaftar
            </mat-error>
            <mat-hint *ngIf="emailControlForm.pending">
              Sedang dicek
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="input full-width">
          <!-- Password -->
          <label for="password">Kata Sandi</label>
          <mat-form-field>
            <input matInput type="password" id="password" #password name="password" formControlName="passwordControlForm">
            <mat-error *ngIf="passwordControlForm.hasError('required')">
              Kata sandi harus diisi
            </mat-error>
            <mat-error *ngIf="passwordControlForm.hasError('minlength')">
              Kata sandi harus terdiri minimal 8 karakter
            </mat-error>
            <mat-error *ngIf="passwordControlForm.hasError('pattern')">
              Kata sandi harus terdiri minimal satu huruf kapital, satu huruf kecil dan satu angka
            </mat-error>
            <fa-icon matSuffix (click)="onShowPassword(password)" id="show-password-icon" [icon]="faEye"></fa-icon>
          </mat-form-field>
        </div>
      </div>

      <!-- Country -->
      <div class="form-field">
        <div class="input full-width">
          <label for="country">Negara</label>
          <mat-form-field>
            <mat-select
              formControlName="countryControlForm"
              name="country" 
              id="country">
              <mat-option 
                *ngFor="let country of countryService.countries"
                [value]="country.code">
                {{country.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              Negara harus diisi
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Province -->
        <div class="input full-width">
          <!-- Province -->
          <label for="province">Provinsi</label>
          <mat-form-field>
            <mat-select
              formControlName="provinceControlForm"
              name="province" 
              id="province">
                <mat-option 
                  *ngFor="let province of countryService.provinces"
                  [value]="province.name">
                  {{province.name}}
                </mat-option>
                <mat-option value="other">
                  Lainnya
                </mat-option>
            </mat-select>
            <mat-error>
              Provinsi harus diisi
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="provinceControlForm.value === 'other'" class="input full-width">
          <!-- Province -->
          <mat-form-field>
            <input 
              matInput 
              type="text"
              formControlName="provinceOtherControlForm"
              name="province-other" 
              id="province-other">
            <mat-error *ngIf="provinceControlForm.hasError('required')">
              Provinsi harus diisi
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      
      <div class="form-field">
        <div class="input two-third-width">
          <!-- City -->
          <label for="city">Kota</label>
          <mat-form-field>
            <input 
              matInput 
              type="text"
              formControlName="cityControlForm"
              name="city" 
              id="city">
            <mat-error *ngIf="emailControlForm.hasError('required')">
              Kota harus diisi
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input one-third-width">
          <!-- Postcode -->
          <label for="postcode">Kode Pos</label>
          <mat-form-field>
            <input 
              matInput 
              type="text"
              formControlName="postcodeControlForm"
              name="postcode" 
              id="postcode">
            <mat-error *ngIf="postcodeControlForm.hasError('required')">
              Kode pos harus diisi
            </mat-error>
            <mat-error *ngIf="!postcodeControlForm.hasError('required') && postcodeControlForm.hasError('isNotPostcode')">
              Kode pos salah
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field">
        <div class="input three-fourth-width">
          <!-- Street -->
          <label for="street">Alamat</label>
          <mat-form-field>
            <input 
              matInput 
              type="text"
              formControlName="streetControlForm"
              name="street" 
              id="street">
            <mat-error *ngIf="streetControlForm.hasError('required')">
              Alamat harus diisi
            </mat-error>
          </mat-form-field>
        </div>

        <div class="input one-fourth-width">
          <!-- House Number -->
          <label for="house-number">No. Rumah</label>
          <mat-form-field>
            <input 
              matInput 
              type="text"
              formControlName="houseNumberControlForm"
              name="house-number" 
              id="house-number">
            <mat-error *ngIf="houseNumberControlForm.hasError('required')">
              Nomor rumah harus diisi
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-field">
        <mat-checkbox
          formControlName="agreementControlForm"
          name="agreement" 
          id="agreement"
          color="primary">
          Saya telah membaca dan menyetujui <a target="_blank" href="https://blog.mihape.com/terms-and-conditions/">syarat dan ketentuan</a> yang berlaku.
          <span *ngIf="agreementControlForm.hasError('required')" class="important">*</span>
        </mat-checkbox>
      </div>

      <div class="form-field center">
        <button class="form-field" type="submit" class="submit-button" [disabled]="signupForm.status === 'INVALID'" [class.disabled]="signupForm.status === 'INVALID'">Daftar</button>
        <button class="form-field" type="button" class="cancel-button" (click)="onClose()">Batalkan</button>
      </div>
    </form>

    <div class="have-account">
      <a (click)="onHaveAccount()">
        Sudah punya akun?
      </a>
    </div>
  </div>
</div>