$dark-primary-text: #194E96;
$light-primary-text: white;

$qintoen-color: (
  50: #e4f3fb,
  100: #bedff7,
  200: #96ccf3,
  300: #6fb8ed,
  400: #52a9ea,
  500: #3b9be7,
  600: #348dda,
  700: #2b7bc7,
  800: #256ab5,
  900: #194d96,
  A100: #c6d5ed,
  A200: #a1bae1,
  A400: #5887cb,
  A700: #095eaf,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$qintoen-alternative-color: (
  50: #fffeea,
  100: #fffaca,
  200: #fff5a8,
  300: #fff186,
  400: #fdec6c,
  500: #fbe656,
  600: #ffdd59,
  700: #fec852,
  800: #fab14a,
  900: #f28b3d,
  A100: #ffeec0,
  A200: #ffe499,
  A400: #ffd052,
  A700: #ffa939,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$qintoen-red: (
  50: #ffeaed,
  100: #fecbd0,
  200: #ed9797,
  300: #e36f6e,
  400: #ec4f4a,
  500: #f03d2f,
  600: #e1332e,
  700: #cf2929,
  800: #c22122,
  900: #b31315,
  A100: #f5cdd2,
  A200: #e09a9c,
  A400: #d95858,
  A700: #bb3939,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);