// Color
$primary-color: #194E96; 
$secondary-color: #7A9ED4;
$disabled-color: #eeeeee;
// Do not use $font-primary/$font-secondary/$font-button, use $dark or $light primary/secondary instead
$font-primary-color: #194E96;
$dark-primary-text: #194E96;
$font-secondary-color: #6e6d6d;
$dark-secondary-text: #6e6d6d;
$light-primary-text: white;
$font-button-color: #7A9ED4;
$light-secondary-text: #7A9ED4;
$dark-warn-text: #b31315;
$light-warn-text: #e36f6e;

// Fonts
$font-largest: 32px;
$font-larger: 24px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 12px;
$font-smaller: 10px;
$font-smallest: 8px;

// Border
$border-radius-size: 5px;