/* You can add global styles to this file, and also import other style files */
@import "./reset";
@import "./qintoen-theme.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700");
@import 'vars';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $font-primary-color;
  font-weight: 700;
}

h1 {
  font-size: $font-largest;
}

h2 {
  font-size: $font-larger;
}

h3 {
  font-size: $font-large;
}

h4 {
  font-size: $font-medium;
}

p, a, input, button, div, section, article {
  font-family: 'Poppins', 'Roboto', Arial, Helvetica, sans-serif;
  color: inherit;
  font-size: $font-medium;
  color: $font-secondary-color;
}

a, button {
  cursor: pointer;
}

input, button, select, mat-form-field.mat-form-field, .button {
  padding: 10px 12px;
  border-radius: $border-radius-size;
  border: none;
  background: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  color: $font-primary-color;

  &:focus {
    outline: none;
  }
}

button, select, .button {
  cursor: pointer;
}

button, .button {
  transition: transform 150ms ease-in-out;
  &:focus, &:hover, &:active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    transform: scale(0.9);
  }

  &:disabled, &.disabled {
    background: $disabled-color;
    transform: scale(0.9);
    cursor: default;
  }
}

mat-form-field.mat-form-field {
  font-size: $font-large;
  padding: 5px 10px 5px 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  
  &.mat-form-field-disabled {
    border: 1px solid #eee;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }

  .mat-form-field-infix {
    border-top: none;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  // .mat-form-field-label-wrapper {
  //   top: -1.5em;
  // }

  input {
    box-shadow: none;
  }
  
  .mat-form-field-appearance-legacy, .mat-form-field-ripple {
    height: 0;
  }
  
  .mat-form-field-appearance-legacy, .mat-form-field-underline {
    height: 0;
  }
}

mat-select {
  &.mat-select {
    // display: inline-block;
    // width: 100px;
    // background: white;
    // outline: 0;
    // padding: 10px 10px 11px 10px;
    // box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    // border-radius: $border-radius-size;
    font-size: $font-large;
  }

  &.mat-select-disabled {
    color: #aaa;
  }
}

.primary-button {
  min-width: 150px;
  background: $primary-color;
  color: white;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  overflow: unset;
}

.mat-error, .mat-hint {
  font-size: 10px;
  position: relative;
  top: 28px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  position: static;
}

.mat-form-field-suffix {
  top: 3px;
}

.alert {
  padding: 15px 30px;
  // background: #fecbd0;
  color: $dark-warn-text;
  border-radius: $border-radius-size;

  &.center {
    text-align: center;
  }
}

.mat-menu-panel {
  position: relative;
  top: 50px;
  left: -80px;
}

.container {
  width: 100%;
}

.card {
  padding: 35px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(125,125,125,0.1);
}

.route-nav {
  text-decoration: none;
  color: $primary-color;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    color: lighten($color: $primary-color, $amount: 20);
  }

  &.cancel {
    color: $dark-warn-text;
  
    &:hover {
      color: lighten($color: $dark-warn-text, $amount: 20);
    }
  }

  &.success {
    color: $dark-primary-text;

    &:hover {
      color: lighten($color: $dark-primary-text, $amount: 20);
    }
  }

  &.back {
    color: $light-warn-text;

    &:hover {
      color: darken($color: $light-warn-text, $amount: 20);
    }
  }
}

// Delete this
body {
  background-image: url("./assets/img/smoke-BG.png");
  background-size: 95%;
  background-position-x: right;
  background-position-y: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}