<h2 class="title">Cara Kerja Kami</h2>
<div class="container">
  <app-thumbnails 
    [imageSrc]="'assets/img/bank.svg'" 
    [imageDesc]="'Bank Mihape'"
    [imagePosition]="'top'"
    [title]="'Transfer bank lokal'"
    [body]="'Uang di transfer ke bank kami di Indonesia dalam bentuk Rupiah'"
    [width]="'80%'"
    [imageWidth]="'50%'"
    ></app-thumbnails>
  <app-thumbnails 
    [imageSrc]="'assets/img/bumi.svg'" 
    [imageDesc]="'Earth with money'"
    [imagePosition]="'top'"
    [title]="'Konversi mata uang'"
    [body]="'Rupiah akan dikonversi ke dalam mata uang negara tujuan berdasarkan nilai tukar aktual'"
    [width]="'80%'"
    [imageWidth]="'50%'"
    ></app-thumbnails>
  <app-thumbnails 
    [imageSrc]="'assets/img/uang-phone.svg'" 
    [imageDesc]="'Transfer with your phone'"
    [imagePosition]="'top'"
    [title]="'Ikuti transaksimu'"
    [body]="'Uang diterima dalam mata uang tujuan. Segala tahapan transaksi dapat diikuti melalui notifikasi'"
    [width]="'80%'"
    [imageWidth]="'50%'"
    ></app-thumbnails>
</div>
<a routerLink="/faq" id="about-us-link">Selengkapnya</a>