<h2 class="title">Cara Kerja Kami</h2>
<div class="container">
  <app-thumbnails 
    [imageSrc]="'assets/img/bank.svg'" 
    [imageDesc]="'Bank Mihape'"
    [imagePosition]="'top'"
    [title]="'Transfer ke bank lokal'"
    [body]="'Uang di transfer ke bank kami di Indonesia'"
    [width]="'80%'"
    [imageWidth]="'50%'"
    ></app-thumbnails>
  <app-thumbnails 
    [imageSrc]="'assets/img/bumi.svg'" 
    [imageDesc]="'Earth with money'"
    [imagePosition]="'top'"
    [title]="'Konversi ke mata uang tujuan'"
    [body]="'This is an example of an image that has description. It can be set according to your needs'"
    [width]="'80%'"
    [imageWidth]="'50%'"
    ></app-thumbnails>
  <app-thumbnails 
    [imageSrc]="'assets/img/uang-phone.svg'" 
    [imageDesc]="'Transfer with your phone'"
    [imagePosition]="'top'"
    [title]="'This is an example'"
    [body]="'This is an example of an image that has description. It can be set according to your needs'"
    [width]="'80%'"
    [imageWidth]="'50%'"
    ></app-thumbnails>

</div>
<a routerLink="/about-us" id="about-us-link">More</a>