<h2 class="title">How we work</h2>
<div class="container">
  <app-thumbnails 
    [imageSrc]="'assets/img/bank.svg'" 
    [imageDesc]="'Bank Mihape'"
    [imagePosition]="'top'"
    [title]="'This is an example'"
    [body]="'This is an example of an image that has description. It can be set according to your needs'"
    [width]="'80%'"
    ></app-thumbnails>
  <app-thumbnails 
    [imageSrc]="'assets/img/bumi.svg'" 
    [imageDesc]="'Earth with money'"
    [imagePosition]="'top'"
    [title]="'This is an example'"
    [body]="'This is an example of an image that has description. It can be set according to your needs'"
    [width]="'80%'"
    ></app-thumbnails>
  <app-thumbnails 
    [imageSrc]="'assets/img/uang-phone.svg'" 
    [imageDesc]="'Transfer with your phone'"
    [imagePosition]="'top'"
    [title]="'This is an example'"
    [body]="'This is an example of an image that has description. It can be set according to your needs'"
    [width]="'80%'"
    ></app-thumbnails>

  <a routerLink="/about-us" id="about-us-link">More</a>
</div>