<p *ngIf="timeoutDisplay" [style.color]="displayColor" id="timeout-display" (click)="onToggleInfoBar()">{{timeoutDisplay}}</p>
<mat-progress-spinner
  (click)="onToggleInfoBar()"
  id="timeout-spinner"
  *ngIf="timeoutDisplay"
  [color]="spinnerColor"
  mode="determinate"
  [value]="spinnerValue"
  diameter="30">
</mat-progress-spinner>

<div id="info-bar" *ngIf="showInfoBar">
  <p>Anda mempunyai waktu {{timeoutDisplay}} <span *ngIf="!isSecond; else second">menit</span><ng-template #second>detik</ng-template> sampai anda keluar dengan otomatis</p>
  <button *ngIf="showUpdateTokenPrompt" (click)="onUpdateLoginToken()">Tambahkan Waktu</button>
</div>